Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat-179-notif-scheduling-logic
  apps/backend/database/init.sql
  apps/backend/database/reminder-scheduling-migration.sql
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  pnpm-lock.yaml
Due: prettier --write

Potential fix for code scanning alert no. 67: Log injection
  apps/mobile/jest.setup.js
Due: eslint --fix

fixed reminder tests according to new code
  apps/backend/test/models/reminder.model.test.ts
Due: none

refactor(#395): refactor chat and bottom navbar to use nativewind
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/components/chat/ChatBubble.tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/components/chat/ChatList.tsx
Due: eslint --fix

refactor(#395): refactor files to use nativewind
  apps/mobile/screens/NewConversationScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/chatScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
Due: eslint --fix

fix(#397)-Redact sensitve info from logger
  apps/backend/src/middleware/logger.middleware.ts
Due: none

Update apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/middleware/logger.middleware.ts
Due: none

fix(#397)-Fix codeQL
  apps/backend/src/middleware/logger.middleware.ts
Due: none

fix(#397)-Fix codeQL 2
  apps/backend/src/middleware/logger.middleware.ts
Due: none

fix(#397)-Fix tests
  apps/backend/test/src/app.test.ts
Due: none

secure storage of auth token
  apps/mobile/package.json
  apps/mobile/utils/storage.ts
Due: eslint --fix, prettier --write

added clear error/fallback when API_BASE_URL is undef
  apps/mobile/services/api.config.ts
Due: eslint --fix

added mock data env flag and interceptor to auto-attach JWT
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/services/mantra.service.ts
Due: eslint --fix, prettier --write

update lockfile
  pnpm-lock.yaml
Due: prettier --write

updated tests
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

added tests to cover new code
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

we don't like the ANY type because we are using typescript and it is much more dev friendly than JSgit add .
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

issue #399 and issue #394 settings and profile pages
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/textInputWrapper.tsx
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/screens/LikedScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/screens/chatScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/notificationScreen.tsx
  apps/mobile/src/naviagation/types.ts
  apps/mobile/styles/profileSettings.styles.ts
  apps/mobile/styles/theme.ts
Due: eslint --fix

quick fixes
  apps/mobile/app/index.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/src/naviagation/types.ts
Due: eslint --fix

fix: update dependencies and versions in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(#403): fix failing tests after refactoring (#394,#399)
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/screens/UpdateEmailScreen.test.tsx
  apps/mobile/test/screens/UpdatePasswordScreen.test.tsx
  apps/mobile/test/styles/theme.test.ts
Due: eslint --fix

quick fixes
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/notificationScreen.tsx
Due: eslint --fix

fix(#403): Improve coverage on new files
  apps/mobile/test/screens/LikedScreen.test.tsx
  apps/mobile/test/screens/SettingsScreen.test.tsx
Due: eslint --fix

fix merge difference
  apps/mobile/screens/collectionScreen.tsx
Due: eslint --fix

fix(#403):sonarcub error
  apps/mobile/test/screens/NotificationSettingsScreen.test.tsx
Due: eslint --fix

slight fixes to db config
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
Due: none

fixed test
  apps/backend/src/config/db.config.ts
Due: none

fixed race condition
  apps/mobile/test/screens/NotificationSettingsScreen.test.tsx
Due: eslint --fix

fix(#406): All MeMantra users are visible with their emails when using messaging feature
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/NewConversationScreen.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

test fix
  apps/mobile/test/screens/NewConversationScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

another fix
  apps/mobile/test/screens/NewConversationScreen.test.tsx
Due: eslint --fix

removed everything google
  README.md
  apps/backend/database/init.sql
  apps/backend/docs/API_ENDPOINTS.md
  apps/backend/package.json
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/auth.routes.ts
  apps/backend/src/types/database.types.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/controllers/chat.controller.test.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/mobile/README.md
  apps/mobile/assets/googleLogo.png
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/services/auth.service.ts
  apps/mobile/services/google-auth.service.ts
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
  apps/mobile/test/services/auth.service.test.ts
  apps/mobile/test/services/google-auth.service.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(#490,#309): add tests for chatscreen and fix searchbar design
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/screens/chatScreen.tsx
  apps/mobile/test/screens/chatScreen.test.tsx
Due: eslint --fix

Sync struct deployment fixes (compose, mobile API config, DB migrations)
  apps/backend/database/00_init.sql
  apps/backend/database/10_chat-migration.sql
  apps/backend/database/20_reactions-migration.sql
  apps/backend/package.json
  apps/backend/src/services/email.service.ts
  apps/mobile/services/api.config.ts
  docker-compose.yaml
Due: eslint --fix, prettier --write

Fix DB SSL config, migrations, and auth register on struct
  apps/backend/database/reset-db.sql.disabled
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
Due: none

devops(#368): remove null values for feature flags array
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/types/database.types.ts
Due: none

Potential fix for code scanning alert no. 75: Unused variable, import, function or class
  apps/mobile/screens/LikedScreen.tsx
Due: eslint --fix

Devops(#368)Add feature_flags in creating of new user
  apps/backend/src/models/user.model.ts
Due: none

Devops(#368): modified feature flags to not get user automatically
  apps/mobile/components/FeatureEnabled.tsx
Due: eslint --fix

chore(#410):remove google sign in
  apps/backend/database/init.sql
  apps/backend/docs/API_ENDPOINTS.md
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/auth.routes.ts
  apps/backend/src/types/database.types.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/controllers/chat.controller.test.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/mobile/README.md
  apps/mobile/assets/googleLogo.png
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/services/auth.service.ts
  apps/mobile/services/google-auth.service.ts
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
  apps/mobile/test/services/auth.service.test.ts
  apps/mobile/test/services/google-auth.service.test.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
