Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

use crypto instead of math.random to encrypt passwords
  apps/backend/src/controllers/auth.controller.ts
Due: none

minor PR comment change
  apps/mobile/components/SignUp.tsx
Due: eslint --fix

testing-291- Added tests for backend auth controller with google tests
  apps/backend/test/controllers/auth.controller.test.ts
Due: none

feat-291- security fix from idtoken
  apps/backend/src/controllers/auth.controller.ts
Due: none

feat-291- tests for auth services
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/test/__snapshots__/App.test.tsx.snap
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix, prettier --write

Revert "feat-291- tests for auth services"
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/test/__snapshots__/App.test.tsx.snap
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix, prettier --write

feat-291- code ql security fix
  apps/backend/src/controllers/auth.controller.ts
Due: none

feat-291- googleAuth fix
  apps/backend/src/controllers/auth.controller.ts
Due: none

testing-291- fixed auth controller test
  apps/backend/test/controllers/auth.controller.test.ts
Due: none

testing-291- google auth user-controlled value
  apps/backend/src/controllers/auth.controller.ts
Due: none

feat-291-semantic fix
  apps/backend/src/controllers/auth.controller.ts
Due: none

test(): add tests for components folder in mobile
  apps/mobile/test/components/SignUp.test.tsx
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

test(): add more test for uncovered line in signup.test.tsx
  apps/mobile/test/components/SignUp.test.tsx
Due: eslint --fix

Revert "test(): sonarqube duplication issue"
  apps/mobile/hooks/handleGoogleAuth.ts
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
Due: eslint --fix

fix(tests): update import paths
  apps/mobile/test/components/SignUp.test.tsx
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

fix(286): fix testing components name change to screens
  apps/mobile/test/components/SignUp.test.tsx
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

issue #242, #287 create UI component library and create like and save reusable components
  apps/mobile/components/UI/likeButton.tsx
  apps/mobile/components/UI/saveButton.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/context/ThemeContext.tsx
Due: eslint --fix

fix linting
  apps/mobile/components/carousel.tsx
Due: eslint --fix

fix(295) : Fix redirection from log in to home screen
  apps/mobile/app/index.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/screens/login.tsx
Due: eslint --fix

testing(295) : login tests
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

revert
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

test(): removed failing test
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

feat(tests): add mock implementations for ImportMetaRegistry and ExpoWinter (Helped with copilot)
  apps/mobile/jest.config.js
  apps/mobile/test/mocks/expoImportMetaRegistry.ts
  apps/mobile/test/mocks/expoWinter.ts
Due: eslint --fix

feat(tests): enhance test coverage with new database, JWT utility tests and enable sonarqube branch analysis
  .github/workflows/sonar.yml
  apps/backend/package.json
  apps/backend/test/config/db.config.test.ts
  apps/backend/test/middleware/validate.middleware.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/utils/jwt.utils.test.ts
  apps/mobile/package.json
Due: prettier --write

basic Kysely ORM setup
  .gitignore
  apps/backend/.env.example
  apps/backend/.kyselyrc.json
  apps/backend/docs/KYSELY_GUIDE.md
  apps/backend/package.json
  apps/backend/src/db/schema.ts
  apps/backend/src/models/mantra.model.ts
  pnpm-lock.yaml
Due: prettier --write

setup(#240): Create RESTful API endpoints
  .gitignore
  apps/backend/docs/API_DOCUMENTATION.md
  apps/backend/src/controllers/category.controller.ts
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/category.model.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/models/like.model.ts
  apps/backend/src/models/mantra.model.ts
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/routes/category.routes.ts
  apps/backend/src/routes/collection.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/like.routes.ts
  apps/backend/src/routes/mantra.routes.ts
  apps/backend/src/routes/reminder.routes.ts
  apps/backend/src/validators/category.validator.ts
  apps/backend/src/validators/collection.validator.ts
  apps/backend/src/validators/like.validator.ts
  apps/backend/src/validators/mantra.validator.ts
  apps/backend/src/validators/reminder.validator.ts
Due: prettier --write

test(): unit tests for LikeButton and SaveButton components
  apps/mobile/components/UI/likeButton.tsx
  apps/mobile/components/UI/saveButton.tsx
  apps/mobile/jest.config.js
  apps/mobile/test/components/UI/likeButton.test.tsx
  apps/mobile/test/components/UI/saveButton.test.tsx
Due: eslint --fix

fix(): merge conflict
  apps/mobile/jest.config.js
Due: eslint --fix

testing-295- Added frontend HomeScreen tests
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/test/components/HomeScreen.test.tsx
Due: eslint --fix

testing-295- Added frontend index.tsx tests
  apps/mobile/app/index.tsx
  apps/mobile/test/index.test.tsx
Due: eslint --fix

testing-295- Added login tests frontend
  apps/mobile/test/components/login.test.tsx
Due: eslint --fix

testing-295- Added login tests frontend
  apps/mobile/test/components/HomeScreen.test.tsx
Due: eslint --fix

testing-295- Fix reliability rating
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Squashed commit of the following:
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/likeButton.tsx
  apps/mobile/components/UI/saveButton.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/test/components/HomeScreen.test.tsx
  apps/mobile/test/components/UI/likeButton.test.tsx
  apps/mobile/test/components/UI/saveButton.test.tsx
  apps/mobile/test/components/login.test.tsx
  apps/mobile/test/index.test.tsx
Due: eslint --fix

created Like, Collection, and Category models
  apps/backend/src/models/category.model.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/models/like.model.ts
Due: none

Devops(26) Fixed dockerfile
  apps/backend/dockerfile
Due: none

Updated Category Model
  apps/backend/src/models/category.model.ts
Due: none

Updated and corrected Collection model
  apps/backend/src/models/collection.model.ts
Due: none

Devops(20) tweak pre-commit
  .husky/pre-commit
Due: none

Tweak pnpm version
  apps/api/src/dockerfile
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
