Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(#432): refactor screens to use theme context instead of hardcoded colors
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
Due: eslint --fix

Reminders screens + validators + tests
  apps/backend/src/validators/reminder.validator.ts
  apps/backend/test/controllers/reminder.controller.test.ts
  apps/backend/test/validators/reminder.validator.test.ts
  apps/mobile/app/index.tsx
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/services/reminder.service.ts
  apps/mobile/src/navigation/types.ts
Due: eslint --fix, prettier --write

fixed UTC time conversion, created reminders active by default
  apps/backend/src/db/index.ts
  apps/mobile/screens/CreateReminderScreen.tsx
Due: eslint --fix

bell icon for reminders convenience
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/reminder.model.ts
  apps/backend/test/controllers/reminder.controller.test.ts
  apps/backend/test/db/db.index.test.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
  apps/mobile/services/reminder.service.ts
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

updated lockfile
  pnpm-lock.yaml
Due: prettier --write

add mocks for @react-navigation/native (with useFocusEffect), reminderService, and storage to the FocusScreen test
  apps/mobile/test/screens/focusScreen.test.tsx
Due: eslint --fix

forgot to mock other tests using useFocusEffect
  apps/mobile/test/screens/bookmarkScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

corrected mantra wrapping in test
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

onPress callback itself returns void instead of Promise<void>
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

refactored reminder hook
  apps/mobile/hooks/useReminders.ts
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/test/hooks/useReminders.test.ts
  apps/mobile/test/screens/collectionScreen.test.tsx
Due: eslint --fix

tests for coverage on new code
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/test/hooks/useReminders.test.ts
  apps/mobile/test/screens/bookmarkScreen.test.tsx
  apps/mobile/test/screens/collectionScreen.test.tsx
  apps/mobile/test/screens/focusScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

more tests
  apps/mobile/test/components/UI/iconButton.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
  apps/mobile/test/services/reminder.service.test.ts
Due: eslint --fix

refactored createReminderScreen based on tests for more robustness
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

more tests
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
Due: eslint --fix

refactor(#432): refactor themes as an interface to easily add themes
  apps/mobile/styles/theme.ts
Due: eslint --fix

feat(#432): Add user theme preference in database and connect backend for persistent user theme storage
  apps/backend/database/theme-migration.sql
  apps/backend/src/controllers/theme.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/theme.routes.ts
  apps/backend/src/types/database.types.ts
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/services/user.service.ts
Due: eslint --fix

Add downloadable APK link to README
  README.md
Due: prettier --write

Fix formatting in Release 2 Demo link
  README.md
Due: prettier --write

notifcations point to collections
  apps/backend/database/collection-reminder-migration.sql
  apps/backend/database/init.sql
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/app/index.tsx
Due: eslint --fix

more coverage, less duplication
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/backend/test/services/notification.service.test.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
Due: none

refactor(#411): Mark the props of the component as read-only
  apps/mobile/screens/SettingsScreen.tsx
Due: eslint --fix

refactor(#411): Remove the commented out code in UpdateEmailScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
Due: eslint --fix

refactor(#411):merge imports from the same module in the same line
  apps/mobile/screens/LikedScreen.tsx
Due: eslint --fix

refactor(#411): use nullish coalescing operator (`??`) instead of a logical or (`||`)
  apps/backend/src/services/notification.service.ts
Due: none

refactor(#411): use optional chain expression
  apps/backend/src/controllers/notification.controller.ts
Due: none

refactor(#411): change replace with replaceAll
  apps/backend/src/controllers/notification.controller.ts
Due: none

chore(): re-run workflow
  apps/mobile/.gitignore
Due: none

Document Release 2 details in README
  README.md
Due: prettier --write

docs(#420): update DB and general class diagram
  docs/diagrams/general/Deployment_Infrastructure_diagram.svg
  docs/diagrams/general/MeMantraArchitecture.png
  docs/diagrams/release 1/ClassDiagramIerationOne.png
  docs/diagrams/release 1/DB Relational Design Diagram.png
  docs/diagrams/release 2/GeneralClassDiagram_R2.png
  docs/diagrams/release 2/Me_Mantra_Capstone_Project_R2.webp
Due: none

Clean up README by removing empty line
  README.md
Due: prettier --write

DB Schema Diagram updated
  docs/diagrams/DB Schema Diagram Updated.png
Due: none

docs: generalized_class_diagram
  docs/diagrams/generalized_class_diagram_R2.png
Due: none

feat(429)-Full Backend Implementation
  apps/backend/database/journal-migration.sql
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/models/journal.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/journal.routes.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/journal.validator.ts
Due: none

feat(#429)-Frontend Implementation
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/journal.service.ts
Due: eslint --fix

feat(#429)-Fix delete button overlap
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 80: Unused variable, import, function or class
  apps/mobile/screens/JournalEditorScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 81: Unused variable, import, function or class
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 82: Unused variable, import, function or class
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

feat(#429)-Fix types
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
Due: eslint --fix

feat(#429)-Fix types
  apps/mobile/screens/JournalDetailScreen.tsx
Due: eslint --fix
