Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updated test for UI changes
  apps/mobile/package.json
  apps/mobile/test/screens/LikedScreen.test.tsx
  apps/mobile/test/screens/focusScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix failing tests and improve test coverage for backend and mobile
  apps/backend/src/routes/profile.routes 2.ts
  apps/backend/src/routes/profile.routes 3.ts
  apps/backend/test/models/user.model.test.ts
  apps/mobile/jest.setup.js
  apps/mobile/test/components/chat/ChatList.test.tsx
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
Due: eslint --fix

Refactor Jest configuration and tests: add cleanup logic and suppress console logs during tests
  apps/backend/jest.config.js
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/jest.cleanup.ts
  apps/mobile/jest.setup.js
Due: eslint --fix

Refactor CI workflows and database configuration: update test commands for backend and mobile, ensure quiet dotenv loading, and enhance cleanup logic in Jest tests
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/test/jest.cleanup.ts
Due: prettier --write

Refactor CI and SonarQube workflows: enhance mobile test commands with timeout and handle detection; update backend and mobile test scripts to remove coverage flag
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  apps/backend/package.json
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/jest.setup.js
  apps/mobile/package.json
Due: eslint --fix, prettier --write

Refactor CI and SonarQube workflows: remove --detectOpenHandles and --verbose flags from mobile test commands; improve error logging in SavedContext and Jest setup
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  apps/mobile/context/SavedContext.tsx
  apps/mobile/jest.setup.js
Due: eslint --fix, prettier --write

Refactor CI and SonarQube workflows: separate backend and mobile test commands; add timeout for mobile tests and enable coverage reporting
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

Devops(#479): Patched branch and documentation to better align with comments made in release 2 by professor
  README.md
  apps/mobile/README.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yaml
  docs/docker/cheatsheet.md
Due: prettier --write

test(#496): fix error in pipeline
  apps/backend/test/controllers/rating.controller.test.ts
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
  apps/mobile/test/index.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/utils/auth.ts
  apps/mobile/utils/storage.ts
Due: eslint --fix

test(#496): fix error in pipeline
  apps/mobile/screens/AdminScreen.tsx
  apps/mobile/screens/BookmarkScreen.tsx
  apps/mobile/screens/ChatScreen.tsx
  apps/mobile/screens/CollectionScreen.tsx
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/screens/FocusScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
Due: eslint --fix

test(#496): fix file name in test
  apps/mobile/test/components/bottomTabNavigator.test.tsx
Due: eslint --fix

chore(): re-run workflow
  apps/mobile/.gitignore
Due: none

Refactor Jest tests and CI configuration: update mobile test commands, enhance Jest setup for React Native compatibility, and add new DeepDiveCard and DeepDiveReader tests
  .github/workflows/ci.yml
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/UI/searchBar.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveCard.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveReader.test.tsx
  apps/mobile/test/screens/SearchScreen.test.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix, prettier --write

ixed the hotspot pattern in DeepDiveReader
  apps/mobile/components/deepDive/DeepDiveReader.tsx
Due: eslint --fix

Case sensitive fix
  apps/mobile/screens/AdminScreen.tsx
  apps/mobile/screens/BookmarkScreen.tsx
  apps/mobile/screens/ChatScreen.tsx
  apps/mobile/screens/CollectionScreen.tsx
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/screens/FocusScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
Due: eslint --fix

feat(#245)-Performance Analytics DB setup
  apps/backend/.env.example
  apps/backend/database/init.sql
  apps/backend/database/performance-monitoring-migration.sql
  apps/backend/database/reset-db.sql
Due: none

feat(#245)-Performance Analytics Full backend setup
  apps/backend/src/app.ts
  apps/backend/src/controllers/performance.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/middleware/performance.middleware.ts
  apps/backend/src/models/performance-event.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/performance.routes.ts
  apps/backend/src/services/performance-monitor.service.ts
  apps/backend/src/services/recommendation-engine.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/performance.validator.ts
Due: none

feat(#245)-Performance Analytics Frontend Setup setup
  apps/mobile/App.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/engagement.service.ts
  apps/mobile/services/performance.service.ts
Due: eslint --fix

444 UI overhaul (#495)
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  .husky/pre-commit
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/jest.cleanup.ts
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
  apps/mobile/context/SavedContext.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
  apps/mobile/package.json
  apps/mobile/screens/FocusScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/UI/iconButton.test.tsx
  apps/mobile/test/components/UI/searchBar.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveCard.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveReader.test.tsx
  apps/mobile/test/screens/LikedScreen.test.tsx
  apps/mobile/test/screens/SearchScreen.test.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/test/screens/focusScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(#245)- Improve test coverage
  apps/backend/test/controllers/performance.controller.test.ts
  apps/backend/test/db/db.index.test.ts
  apps/backend/test/models/performance-event.model.test.ts
  apps/backend/test/services/performance-monitor.service.test.ts
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/performance.service.test.ts
Due: eslint --fix

Devops(#479):Patched for render backend deployment
  README.md
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/src/index.ts
  render.yaml
Due: prettier --write

ios prebuild
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/services/api.config.ts
Due: eslint --fix, prettier --write

update eas config
  .easignore
  .gitignore
Due: none

fix: add root health check route for Render deploy
  apps/backend/src/app.ts
Due: none

fix(#498):missing themes and UI improvements/bug fixes
  apps/mobile/screens/AdminScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/test/screens/SettingsScreen.test.tsx
  apps/mobile/test/screens/UpdateEmailScreen.test.tsx
  apps/mobile/test/screens/UpdatePasswordScreen.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

feat: add Firebase FCM for Android push notifications and EAS build config
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/google-services.json
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update app slug, projectId, and owner in app.json
  apps/mobile/app.json
Due: prettier --write

fix: resolve UI bugs across login, carousel, emoji picker, and iOS date picker
  apps/mobile/components/UI/textButton.tsx
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/components/chat/ChatBubble.tsx
  apps/mobile/screens/CreateReminderScreen.tsx
Due: eslint --fix

fix: use theme color for expanded menu background in carousel
  apps/mobile/components/carousel.tsx
Due: eslint --fix

fix: switch Gmail SMTP to port 587 STARTTLS for Render compatibility
  apps/backend/src/services/email.service.ts
Due: none

fix: increase SMTP timeouts and require TLS for email service
  apps/backend/src/services/email.service.ts
Due: none

refactor(#500): change email sending from smtp to http
  apps/backend/package.json
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/services/email.service.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/services/email.service.init.test.ts
  apps/backend/test/services/email.service.test.ts
  pnpm-lock.yaml
Due: prettier --write

fix(#502): Fixed Text Clipping in login page (Android)
  apps/mobile/screens/LoginScreen.tsx
Due: eslint --fix

fix(#504)-Fix message load time
  apps/backend/src/controllers/chat.controller.ts
  apps/backend/src/models/message.model.ts
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/services/chat.service.ts
Due: eslint --fix

test(#504)-Fix tests
  apps/backend/test/controllers/chat.controller.test.ts
  apps/mobile/test/screens/conversationScreen.test.tsx
  apps/mobile/test/services/chat.service.test.ts
Due: eslint --fix

fix(#504)-add dates in messages
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/test/screens/conversationScreen.test.tsx
Due: eslint --fix

fix(#504)- fix sonar issue, create new function
  apps/mobile/screens/ConversationScreen.tsx
Due: eslint --fix

fix(#504)- chat Indexing migration
  apps/backend/database/chat-migration.sql
  apps/backend/database/message-fetch-index-migration.sql
Due: none

refactor: n+1 query fix, error logging, +other
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/services/email.service.ts
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/src/services/recommendation-engine.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/utils/timezone.utils.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
