Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Story #17: Initialize node.js backend
  apps/backend/.gitignore
  apps/backend/package.json
  apps/backend/tsconfig.json
  apps/mobile/package-lock.json
  pnpm-lock.yaml
Due: prettier --write

Story #17, Story #3: Initial Auth setup using postgres on local system
  apps/backend/package.json
  apps/backend/src/config/db.config.ts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/db/migrations/init.ts
  apps/backend/src/db/schema.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/middleware/validate.middleware.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/auth.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/src/validators/auth.validator.ts
Due: prettier --write

initial backend instructions
  README.md
Due: prettier --write

fix(): Add TypeScript type declarations for image imports
  apps/mobile/types/images.d.ts
Due: eslint --fix

feat(#16): Initial login screen UI design
  apps/mobile/App.tsx
  apps/mobile/assets/logo.png
  apps/mobile/package-lock.json
  apps/mobile/screens/loginScreen.tsx
Due: eslint --fix, prettier --write

feat(#2):Initial Basic Sign up screen design
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

feat(#16 #2): Setup initial app avigation for login and signup screen
  apps/mobile/App.tsx
  apps/mobile/app/index.tsx
  apps/mobile/package-lock.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(#2 #16): adjust design and add navigation to login and signup
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

feat(#16 #2): Update Colours and font
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

setup(#238): initialize local postgres database schema and setup guide
  backend/database/README.md
  backend/database/init.sql
Due: prettier --write

config(#261): Set up NativeWind config for frontend
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/babel.config.js
  apps/mobile/components/login.tsx
  apps/mobile/global.css
  apps/mobile/metro.config.js
  apps/mobile/nativewind-env.d.ts
  apps/mobile/package.json
  apps/mobile/tailwind.config.js
  apps/mobile/types/wind.d.ts
  eslint.config.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(#2 #16): Add sign up/log in with google UI
  apps/mobile/assets/googleLogo.png
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

config(#16): update package
  package-lock.json
Due: prettier --write

feat(#2 #16): update dependencies
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(#262): fix manual dependency adding
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(#262): Fix manual dependency install for react-native-worklets
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

Added Docker db setup+PGAdmin and readme instructions
  .env.example
  README-Docker.md
  docker-compose.yaml
Due: prettier --write

test(#264): fix Jest import errors by mocking global CSS, NavigationContainer, GestureHandlerRootView, and MainNavigator
  apps/mobile/test/App.test.tsx
Due: eslint --fix

Story #17, Story #3, Story #238: Backend Auth setup integrated with new DB configuration
  apps/backend/src/db/migrations/init.ts
  apps/backend/src/models/user.model.ts
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/config/db.config.ts
  backend/src/controllers/auth.controller.ts
  backend/src/db/index.ts
  backend/src/db/schema.ts
  backend/src/index.ts
  backend/src/middleware/auth.middleware.ts
  backend/src/middleware/validate.middleware.ts
  backend/src/models/user.model.ts
  backend/src/routes/auth.routes.ts
  backend/src/routes/index.ts
  backend/src/types/database.types.ts
  backend/src/utils/jwt.utils.ts
  backend/src/validators/auth.validator.ts
  backend/tsconfig.json
Due: prettier --write

Update README with clearer setup instructions
  README.md
Due: prettier --write

Story #239: Change to pnpm commands
  README.md
  backend/package-lock.json
  backend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor(#2,#16): removing all css and refactor to use NativeWind
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

Story #239, Story #17, Story #3: Connected Auth from frontend to backend, added local JWT manager and backend logger
  README.md
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/services/api.config.ts
  apps/mobile/services/auth.service.ts
  apps/mobile/utils/storage.ts
  backend/src/index.ts
  backend/src/middleware/logger.middleware.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Story #239, Story #17, Story #3: Added .trim to prevent whitespaces in login and signup
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
Due: eslint --fix

Story #239, Story #17, Story #3: Moved backend folder to apps folder
  README.md
  apps/backend/.gitignore
  apps/backend/database/README.md
  apps/backend/database/init.sql
  apps/backend/package.json
  apps/backend/src/config/db.config.ts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/db/schema.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/middleware/validate.middleware.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/auth.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/src/validators/auth.validator.ts
  apps/backend/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

test(#266): add unit test for auth.middleware.ts, update ci.yml with missing env, and configure backend testing setup
  .github/workflows/ci.yml
  apps/backend/jest.config.js
  apps/backend/jest.setup.js
  apps/backend/package.json
  apps/backend/test/middleware/auth.test.ts
Due: prettier --write

fix(#266): update lockfile to match package.json
  pnpm-lock.yaml
Due: prettier --write

fix(#266): move JWT_SECRET to test step in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix(#266): Added setupEnv so tests detect JWT_SECRET in pipeline
  .github/workflows/ci.yml
  apps/backend/jest.config.js
  apps/backend/setupEnv.ts
Due: prettier --write

chore(#266): Resolve pnpm -w build errors in pipeline
  apps/backend/tsconfig.json
Due: prettier --write

setup(#267 #268):backend (nodemon) init and security tools (cors, helmet, express-rate-limit, zod)
  apps/backend/.env.example
  apps/backend/.gitignore
  apps/backend/README.md
  apps/backend/nodemon.json
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tsconfig.json
Due: prettier --write

forgot to commit pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

better practice, linter friendly index.ts
  apps/backend/src/index.ts
Due: none

added apps/backend in lint scope
  eslint.config.mjs
Due: none

fighting the linter
  eslint.config.mjs
Due: none

set no-unused-vars off to prevent conflict with ts-eslint
  eslint.config.mjs
Due: none

added and made modifications for test compatibility
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/test/index.test.ts
  apps/backend/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

test logic mistakes
  apps/backend/src/index.ts
  apps/backend/src/test/index.test.ts
Due: none

accidentally deleted a bracket(s)
  apps/backend/src/test/index.test.ts
Due: none

fix(): Enhance JWT_SECRET handling in CI and backend setup for improved security
  .github/workflows/ci.yml
  apps/backend/setupEnv.ts
  apps/backend/src/utils/jwt.utils.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
