Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

test fix
  apps/mobile/test/screens/SearchScreen.test.tsx
Due: eslint --fix

code smell fixes
  apps/mobile/screens/SearchScreen.tsx
Due: eslint --fix

more code smell fixes
  apps/mobile/screens/SearchScreen.tsx
Due: eslint --fix

extra fixes for device registration and notifications
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/notification.service.ts
  apps/mobile/utils/auth.ts
Due: eslint --fix

fix tests
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/utils/timezone.utils.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

android notif channel, stale token cleanup
  apps/backend/.env.example
  apps/backend/src/models/user.model.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/test/services/notification.service.test.ts
  apps/mobile/services/notification.service.ts
Due: eslint --fix

removed production api
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

feat(#465):fix previous commit
  apps/mobile/components/FeatureEnabled.tsx
Due: eslint --fix

WIP: bypass commit
  apps/backend/src/app.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/routes/profile.routes 2.ts
  apps/backend/test/controllers/profile.controller.test 2.ts
  apps/mobile/assets/Profile-default 2.png
  apps/mobile/components/categoryFilterSheet 2.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/services/user.service.ts
  eslint.config.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Feat(#465):Increase test coverage
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/utils/featureFlags.test.ts
  apps/mobile/test/components/admin/FeatureFlagsPanel.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

Feat(#465): Fix SOnarQube warning
  apps/backend/src/models/user.model.ts
Due: none

Feat(#465):Fix Logical Bug when activating a flag for a user with none
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/mobile/components/UI/searchBar.tsx
Due: eslint --fix

Feat(#465): Update %rollout function + added expand-only rollout functionality
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/mobile/components/admin/FeatureFlagsPanel.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/user.service.ts
  apps/mobile/test/components/admin/FeatureFlagsPanel.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

Feat(#465):Undo accidental changes to SearchBar+fixing failing tests
  apps/backend/test/models/user.model.test.ts
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/test/screens/MantraAlgorithmScreen.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/screens/conversationScreen.test.tsx
Due: eslint --fix

Feat(#465):Fixed SOnarqube warning
  apps/mobile/screens/adminScreen.tsx
Due: eslint --fix

Feat(#465):Consolidating fucntions for Sonar warning
  apps/backend/src/models/user.model.ts
Due: none

Refactor(HomeScreen): remove unused handleUserPress function and associated UI element
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Feat(SearchScreen): improve item styling and layout, adjust typography, and enhance result display with new tap prompt
  apps/mobile/screens/SearchScreen.tsx
Due: eslint --fix

fix(#489): remove stale naviagation folder (typo)
  apps/mobile/src/naviagation/types.ts
Due: eslint --fix

refactor(#489): clean sloppy inline comments
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/middleware/validate.middleware.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/auth.validator.ts
  apps/mobile/services/api.config.ts
  apps/mobile/services/chat.service.ts
  apps/mobile/utils/storage.ts
Due: eslint --fix

refactor(#489): rename screen files
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/screens/LoginScreen.tsx
  apps/mobile/screens/SignUpScreen.tsx
  apps/mobile/test/screens/LoginScreen.test.tsx
  apps/mobile/test/screens/SignUpScreen.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/screens/bookmarkScreen.test.tsx
  apps/mobile/test/screens/chatScreen.test.tsx
  apps/mobile/test/screens/collectionScreen.test.tsx
  apps/mobile/test/screens/conversationScreen.test.tsx
  apps/mobile/test/screens/focusScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

refactor(#489): replace any/as any with proper types
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/controllers/notification.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/models/user.model.ts
  apps/mobile/services/auth.service.ts
  apps/mobile/services/category.service.ts
  apps/mobile/services/mantra.service.ts
  apps/mobile/utils/auth.ts
Due: eslint --fix

chore(#489): enforce Prettier + lint-staged for backend
  .lintstagedrc.json
  .prettierignore
  .prettierrc
Due: prettier --write

fix(#490): add explicit 401 checks in updatePassword and deleteAccount endpoints
  apps/backend/src/controllers/auth.controller.ts
Due: none

fix(#490): surface API errors to users in screens
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/MantraAlgorithmScreen.tsx
  apps/mobile/screens/NewConversationScreen.tsx
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/chatScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

fix(#490): alert users on push notification setup failure
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/screens/LoginScreen.tsx
Due: eslint --fix

fix(#490): add error feedback in collectionsSheet and app index
  apps/mobile/app/index.tsx
  apps/mobile/components/collectionsSheet.tsx
Due: eslint --fix

fix(#491): consistent error handling across backend endpoints
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/controllers/category.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/models/rating.model.ts
Due: none

fix(#491): surface API errors to users instead of silent failures
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/context/SavedContext.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/hooks/useReminders.ts
  apps/mobile/screens/SignUpScreen.tsx
Due: eslint --fix

refactor: n+1 query fix, error logging, +other
  apps/backend/database/init.sql
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/services/email.service.ts
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/src/services/recommendation-engine.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/utils/timezone.utils.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
Due: none

separating logging embedding from template
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/services/recommendation-notification.service.ts
Due: none

sanitizing logs
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/utils/sanitize.utils.ts
Due: none

Devops(#479): Add new docker-compose, docker files and .dockerignores
  .dockerignore
  apps/backend/dockerfile
  apps/mobile/Dockerfile
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yaml
Due: prettier --write

Devops(#479):Updated config to make new staging/prod paths usable, also added config for mobile runtime image+new documentation
  README.md
  apps/backend/README.md
  apps/mobile/README.md
  apps/mobile/nginx.conf
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
  docs/docker/cheatsheet.md
Due: eslint --fix, prettier --write

Devops(#479):Update documentation
  .dockerignore
  README.md
  apps/backend/.env.example
  apps/backend/README.md
  apps/mobile/.env.example
  apps/mobile/README.md
Due: prettier --write

Devops(#479):Modified the docker stack to rely on only backend and frontend .env files
  README.md
  apps/backend/README.md
  apps/mobile/README.md
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: prettier --write

Devops(#470): Fix syntax error in init.sql
  apps/backend/database/init.sql
Due: none

Feat(Carousel): integrate DeepDiveReader and DeepDiveCard components, enhance content structure and styling for deep dive sections
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
Due: eslint --fix
