Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add createMantra method and related interfaces
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

Add admin email utilities for email validation
  apps/mobile/utils/admin.ts
Due: eslint --fix

Enhance BottomTabNavigator tests with user role checks
  apps/mobile/test/components/bottomTabNavigator.test.tsx
Due: eslint --fix

Add tests for creating and deleting mantras
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

Add mock for Animated in App tests
  apps/mobile/test/App.test.tsx
Due: eslint --fix

Create Reusable Components
  docs/prototypes/Reusable Components
Due: none

chore: set up PostHog analytics with navigation typings
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/app/index.tsx
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/types/navigation.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

potential fix
  app.json
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/services/google-auth.service.ts
Due: eslint --fix, prettier --write

Docs(26)-Reworked documentation for docker
  README-Docker.md
  docs/docker/cheatsheet.md
  docs/docker/setup.md
Due: prettier --write

story-320-Implement Backend for admin page and use Database data instead of mock data
  apps/backend/.env.example
  apps/backend/src/app.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/middleware/admin.middleware.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/mantra.routes.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/src/validators/user.validator.ts
  apps/mobile/components/admin/MantraForm.tsx
  apps/mobile/components/admin/MantraList.tsx
  apps/mobile/components/admin/UserForm.tsx
  apps/mobile/components/admin/UserList.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/mantra.service.ts
  apps/mobile/services/user.service.ts
  apps/mobile/utils/admin.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 30: Unused variable, import, function or class
  apps/mobile/components/admin/MantraForm.tsx
Due: eslint --fix

story-320-Small fix so that newly added mantras are diplayed in the main feed
  apps/backend/src/models/mantra.model.ts
Due: none

Update npm scripts for Android and iOS commands
  apps/mobile/package.json
Due: prettier --write

Add files via upload
  pnpm-lock.yaml
Due: prettier --write

Update README with Release 1 details
  README.md
Due: prettier --write

fix: replace VARCHAR2 with VARCHAR in init.sql
  apps/backend/database/init.sql
  pnpm-lock.yaml
Due: prettier --write

Update README files to enhance setup instructions and project structure details
  README.md
  apps/backend/README.md
  apps/mobile/README.md
Due: prettier --write

Update README files to enhance setup instructions and project structure details (#330)
  README.md
  apps/backend/README.md
  apps/mobile/README.md
Due: prettier --write

Create Reusable Components (#322)
  docs/prototypes/Reusable Components
Due: none

Enhance README with test links and descriptions
  README.md
Due: prettier --write

testing-320-Added missing tests and modified existing ones
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/middleware/admin.middleware.test.ts
  apps/backend/test/src/app.test.ts
  apps/mobile/components/admin/MantraForm.tsx
  apps/mobile/test/components/admin/MantraForm.test.tsx
  apps/mobile/test/components/admin/MantraList.test.tsx
  apps/mobile/test/components/admin/UserForm.test.tsx
  apps/mobile/test/components/admin/UserList.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

testing-320-Improve Coverage and Rating
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/test/components/bottomTabNavigator.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

testing-320-Fix mocks and remove global jest imports
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

testing-320-Fix timeout
  apps/mobile/test/screens/adminScreen.test.tsx
Due: eslint --fix

Refactor README to improve structure and clarity
  README.md
Due: prettier --write

Refactor README to improve structure and clarity (#333)
  README.md
Due: prettier --write

Clean up README by removing redundant instructions
  README.md
Due: prettier --write

Add links for Release 1 video and slides
  README.md
Due: prettier --write

Update Release 1 demo link in README.md
  README.md
Due: prettier --write

Add links for Release 1 video and slides (#335)
  README.md
Due: prettier --write

number of likes now displays and updates properly
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/models/mantra.model.ts
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Refactor like/unlike mantra methods to use request
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

Refactor likeMantra and unlikeMantra methods
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

Refactor like and unlike mantra methods
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

fix: resolve 8 failing mantra.service tests
  apps/mobile/services/mantra.service.ts
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

fix: resolve mantra.service coverage issues
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

feat(#377): Frontend rating on popup and adjust tests
  apps/mobile/components/UI/savedPopupBar.tsx
  apps/mobile/test/components/UI/savedPopupBar.test.tsx
Due: eslint --fix

fix
  apps/mobile/components/UI/likeButton.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
