Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Update lockfile after adding expo auth packages
  pnpm-lock.yaml
Due: prettier --write

added the dependencies
  apps/mobile/package-lock.json
  apps/mobile/package.json
Due: prettier --write

removed unused import
  apps/mobile/services/google-auth.service.ts
Due: eslint --fix

pr comments
  apps/backend/src/controllers/auth.controller.ts
  apps/mobile/package.json
Due: prettier --write

chore(#283): update frontend (mobile) jest.config.js to ensure test coverage is measured correctly
  apps/mobile/jest.config.js
Due: eslint --fix

fixed sonarqube issues and linter typecheck warnings
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/mobile/app/bottomTabNavigator.tsx
Due: eslint --fix

hopefully fully fixed sonarqube issues
  apps/mobile/app/bottomTabNavigator.tsx
Due: eslint --fix

reverted isLoggedIn to false for final commit
  apps/mobile/app/index.tsx
Due: eslint --fix

possibly fixed linter warnings
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/utils/jwt.utils.ts
Due: none

fix(#277): fix failing test in the pipeline
  apps/backend/jest.config.js
  apps/backend/test/middleware/auth.test.ts
  apps/backend/test/src/index.test.ts
Due: none

fix(#277): add setup file to jest.config.js
  apps/backend/jest.config.js
Due: none

refactor(57,282): reorganize component and screens directory
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/tailwind.config.js
Due: eslint --fix

feat(#57): home page scroll with mock data (temporary)
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/test/__snapshots__/App.test.tsx.snap
Due: eslint --fix

feat(#57): Temporary --> Add all component (search, profile, bookmark, heart, carousel)
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

refactor(#57): create carousel compnent and seperate from homescreen
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

feat(#57): WIP - main feed screen with mocking backend mantras
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

issue #281 add theme context and create global color themes
  apps/mobile/app/index.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/styles/theme.ts
Due: eslint --fix

fix file name
  apps/mobile/app/index.tsx
Due: eslint --fix

feat(#57):UI feed page with mock data
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

refactor so login and signup use colors from themeContext
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
  apps/mobile/styles/theme.ts
Due: eslint --fix

docs(): Readme to run backend updated
  README.md
Due: prettier --write

Potential fix for code scanning alert no. 13: Unused variable, import, function or class
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

fix(): fixing CodeQL problem - unused variable
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Update README with production mode instructions
  README.md
Due: prettier --write

test(#283): add unit tests for files in backend/src and backend/src/config
  apps/backend/setupEnv.ts
  apps/backend/src/app.ts
  apps/backend/test/Integration/index.test.ts
  apps/backend/test/src/app.test.ts
  apps/backend/test/src/db/db.config.test.ts
  apps/backend/test/src/db/db.config1.test.ts
  apps/backend/test/src/index.test.ts
  apps/backend/test/src/middleware/auth.test.ts
Due: none

chore(#289): update CI to include backend coverage and correct test path in SonarCloud
  .github/workflows/ci.yml
  .sonarcloud.properties
Due: prettier --write

chore(#289): add SonarQube analysis step to ci
  .github/workflows/ci.yml
Due: prettier --write

chore(#289): update ci to fix SonarQube coverage failure
  .github/workflows/ci.yml
Due: prettier --write

Revert "chore(): update ci to fix SonarQube coverage failure"
  .github/workflows/ci.yml
Due: prettier --write

chore(#289): add args to sonarqube step in ci
  .github/workflows/ci.yml
Due: prettier --write

chore(#289): update organization name to use lowercase
  .github/workflows/ci.yml
Due: prettier --write

chore(#289): another modification in the ci to make code coverage working
  .github/workflows/ci.yml
  sonar-project.properties
Due: prettier --write

chore(#289): wrote the wrong the token
  .github/workflows/ci.yml
Due: prettier --write

chore(#289): disable automatic analysis in SonarQube
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: prettier --write

chore(#289): configure SonarQube to verify code coverage in CI
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Due: prettier --write

test(#283): making progess to get the reach code coverage requirement
  apps/backend/test/src/config/db.config.test.ts
  apps/backend/test/src/config/db.config1.test.ts
  apps/backend/test/src/db/index.test.ts
  apps/backend/test/src/middleware/logger.test.ts
Due: none

test(): sonarqube duplication issue
  apps/mobile/hooks/handleGoogleAuth.ts
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
Due: eslint --fix

update google sign in and added iOS support
  apps/backend/database/init.sql
  apps/backend/package.json
  apps/backend/src/controllers/auth.controller.ts
  apps/mobile/components/login.tsx
  apps/mobile/package.json
  apps/mobile/services/auth.service.ts
  apps/mobile/services/google-auth.service.ts
  backend/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fixed tests
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/models/user.model.ts
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
  apps/mobile/services/auth.service.ts
Due: eslint --fix
