Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Update apps/mobile/app.json
  apps/mobile/app.json
Due: prettier --write

Update apps/backend/src/validators/notification.validator.ts
  apps/backend/src/validators/notification.validator.ts
Due: none

Update apps/mobile/services/notification.service.ts
  apps/mobile/services/notification.service.ts
Due: eslint --fix

updated lockfile
  pnpm-lock.yaml
Due: prettier --write

updated tests
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

feature 176
  apps/backend/docs/notification-content.md
  apps/backend/src/config/notification-content.config.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/test/config/notification-content.config.test.ts
  apps/backend/test/services/notification.service.test.ts
Due: prettier --write

feat: refactor login screen to use TextButton component and enhance AppText functionality
  apps/mobile/components/UI/textButton.tsx
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/screens/login.tsx
Due: eslint --fix

test: add unit tests for TextButton component
  apps/mobile/test/components/UI/textButton.test.tsx
Due: eslint --fix

sonarqube(): remove unnecessary fragment in TextButton component and clean up imports in LoginScreen
  apps/mobile/components/UI/textButton.tsx
  apps/mobile/screens/login.tsx
Due: eslint --fix

chore: update package manager version to pnpm@10.28.0
  package.json
Due: prettier --write

chore: revert package manager version to pnpm@9.15.9
  package.json
Due: prettier --write

feat: refactor login screen to use TextButton component and enhance A… (#388)
  apps/mobile/components/UI/textButton.tsx
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/test/components/UI/textButton.test.tsx
Due: eslint --fix

devops(#368): Create branch for feature flag implementation
  apps/backend/src/models/user.model.ts
Due: none

devops(#368):Added new helper functions and types for feature flag column
  apps/backend/src/models/user.model.ts
  apps/backend/src/types/database.types.ts
Due: none

Devops(#368): Fix logical issue in user model flag logic
  apps/backend/src/models/user.model.ts
Due: none

Devops(#368):modified db initializing script
  apps/backend/database/init.sql
  apps/backend/src/models/user.model.ts
Due: none

Devops(#368): added featureFlags.ts (maybe not the best location for the file)
  apps/backend/src/utils/featureFlags.ts
Due: none

Devops(#368):Added endpoints to user controller
  apps/backend/src/controllers/user.controller.ts
Due: none

Devops(#368) - Added new routes for flags (might be overkill)
  apps/backend/src/routes/user.routes.ts
Due: none

Added flag syntax validation to endpoints
  apps/backend/src/controllers/user.controller.ts
Due: none

devops(#368):Added logic to render features with flags
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/utils/featureFlags.ts
  apps/mobile/components/FeatureEnabled.tsx
Due: eslint --fix

devops(#368):fix typo
  apps/mobile/components/FeatureEnabled.tsx
Due: eslint --fix

Update apps/backend/src/config/notification-content.config.ts
  apps/backend/src/config/notification-content.config.ts
Due: none

Fixed DoS security risk
  apps/backend/src/config/notification-content.config.ts
Due: none

CTA style consistency
  apps/backend/src/config/notification-content.config.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/test/config/notification-content.config.test.ts
Due: none

added tests to check proper mantra truncation
  apps/backend/src/config/notification-content.config.ts
  apps/backend/test/config/notification-content.config.test.ts
Due: none

added admin req for bulk notification
  apps/backend/docs/notification-content.md
  apps/backend/src/routes/notification.routes.ts
  apps/backend/test/controllers/notification.controller.test.ts
Due: prettier --write

fix(#377): Add/alter backend rating tests
  apps/backend/src/models/rating.model.ts
  apps/backend/test/controllers/rating.controller.test.ts
  apps/backend/test/models/rating.models.test.ts
Due: none

fix(#339)-Change api timeout time to 30 seconds for email requests
  apps/mobile/services/api.config.ts
Due: eslint --fix

updated hardcoded projectID into config file following standard expo pattern
  apps/mobile/services/notification.service.ts
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

added dep to package
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

Notfication settings
  apps/backend/package.json
  apps/backend/src/services/email.service.ts
  apps/mobile/.gitignore
  apps/mobile/app/index.tsx
  apps/mobile/package.json
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/services/api.config.local.example.ts
  apps/mobile/services/api.config.ts
  apps/mobile/services/notification-settings.service.ts
  apps/mobile/services/notification.service.ts
  apps/mobile/src/naviagation/types.ts
  apps/mobile/test/services/notification-settings.service.test.ts
  eslint.config.mjs
  package.json
  turbo.json
Due: eslint --fix, prettier --write

fix api.config.ts
  apps/mobile/jest.setup.js
  apps/mobile/services/api.config.ts
  apps/mobile/test/components/bottomTabNavigator.test.tsx
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

added and fixed tests
  apps/backend/test/services/email.service.init.test.ts
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/test/screens/NotificationSettingsScreen.test.tsx
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/notification-settings.service.test.ts
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

further fix
  apps/mobile/test/screens/NotificationSettingsScreen.test.tsx
Due: eslint --fix

fixed sonarqube issues
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/services/api.config.ts
Due: eslint --fix

corrected dir spelling mistake
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/src/navigation/types.ts
Due: eslint --fix

feat-178-deeplink mantra to notfication
  apps/backend/src/services/notification.service.ts
  apps/backend/test/services/notification.service.test.ts
  apps/mobile/app/index.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/mantra.service.ts
  apps/mobile/test/index.test.tsx
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix
