Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

regenerated pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

fixed middleware issues
  apps/backend/src/middleware/auth.middleware.ts
  apps/backend/src/middleware/logger.middleware.ts
  apps/backend/src/middleware/validate.middleware.ts
Due: none

devops(Setup security tools Fixes #267): Add CodeQL configuration and workflow for enhanced security analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: prettier --write

devops(): Add pnpm setup step to CodeQL workflow
  .github/workflows/codeql.yml
Due: prettier --write

fix: reorder pnpm setup steps in CodeQL workflow to fix pnpm not being located
  .github/workflows/codeql.yml
Due: prettier --write

fix: add conditional checks for pnpm setup steps in CodeQL workflow
  .github/workflows/codeql.yml
Due: prettier --write

Trying to add backend containerization
  .dockerignore
  apps/backend/dockerfile
  docker-compose.yaml
  pnpm-lock.yaml
Due: prettier --write

BACKEND WORKS WOOHOO
  .dockerignore
  .gitignore
  apps/backend/dockerfile
  docker-compose.yaml
Due: prettier --write

fix pgAdmin issues
  .gitignore
  docker-compose.yaml
Due: prettier --write

chore(#53): configure Sentry for error and crash reporting in release builds only
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/metro.config.js
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/sentry/config.ts
  apps/mobile/sentry/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Dev() Added files to .gitignore
  .gitignore
  apps/mobile/package-lock.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

Implemented bottom tab navigator according to mockup with simple auth logic for testing purposes, added dependencies for vector icons and bottom tab
  apps/mobile/app/bottomTabNavigator.tsx
  apps/mobile/app/index.tsx
  apps/mobile/package-lock.json
  apps/mobile/package.json
Due: eslint --fix, prettier --write

fix(#53): Change import location to ensure Sentry only runs in release builds
  apps/mobile/App.tsx
Due: eslint --fix

Improved auth logic for future
  apps/mobile/app/index.tsx
Due: eslint --fix

Updated lock file with new dependencies
  pnpm-lock.yaml
Due: prettier --write

chore: add initial SonarQube configuration for connected mode
  .vscode/settings.json
Due: prettier --write

fix: update pnpm action version with SHA in CodeQL workflow
  .github/workflows/codeql.yml
Due: prettier --write

Potential fix for code scanning alert no. 2: Log injection
  apps/backend/src/app.ts
Due: none

Add SonarCloud configuration file
  .sonarcloud.properties
Due: none

chore(#53): Enable cold start monitoring and finalize basic Sentry integration
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/sentry/config.ts
  apps/mobile/sentry/index.ts
Due: eslint --fix, prettier --write

fix(#53): resolve SonarQube issue in app.tsx
  apps/mobile/App.tsx
Due: eslint --fix

fix(#53): resolve SonarQube issue in config.ts
  apps/mobile/sentry/config.ts
Due: eslint --fix

fix(Fix SonarQube Initial Failing Gate Fixes #275:) Refactor database initialization and improve error handling in middleware
  apps/backend/database/init.sql
  apps/backend/src/app.ts
  apps/backend/src/config/db.config.ts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/middleware/auth.middleware.ts
Due: none

fix(#53): resolve remaining SonarQube issue in config.ts
  apps/mobile/sentry/config.ts
Due: eslint --fix

chore(#53): remove unused Sentry export from index.ts
  apps/mobile/sentry/index.ts
Due: eslint --fix

fix(Fix SonarQube Initial Failing Gate (#276)
  apps/backend/database/init.sql
  apps/backend/src/app.ts
  apps/backend/src/config/db.config.ts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/middleware/auth.middleware.ts
Due: none

implemented sign in with google
  android/.gitignore
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/auth.routes.ts
  apps/mobile/app.json
  apps/mobile/components/SignUp.tsx
  apps/mobile/components/login.tsx
  apps/mobile/services/auth.service.ts
  apps/mobile/services/google-auth.service.ts
Due: eslint --fix, prettier --write

Set up of sentry for error and performance monitoring (#274)
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/metro.config.js
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/sentry/config.ts
  apps/mobile/sentry/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update and fixing routing issue app.ts
  apps/backend/src/app.ts
Due: none

Update app.ts and fixing routing issue
  apps/backend/src/app.ts
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

more changes
  apps/mobile/package-lock.json
  apps/mobile/package.json
  package-lock.json
Due: prettier --write

more packages
  apps/mobile/package-lock.json
  apps/mobile/package.json
Due: prettier --write

revert to old ci.yml
  .github/workflows/ci.yml
Due: prettier --write

adjustments
  apps/mobile/services/google-auth.service.ts
Due: eslint --fix

Update ReplaceAll for
  apps/backend/src/app.ts
Due: none

husky test
  .husky/pre-commit
  docker-compose.yaml
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 5: Missing rate limiting
  apps/backend/src/routes/auth.routes.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
