Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

separating logging embedding from template
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/services/recommendation-notification.service.ts
Due: none

sanitizing logs
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/utils/sanitize.utils.ts
Due: none

feat(#245)-Performance Analytics DB setup
  apps/backend/.env.example
  apps/backend/database/init.sql
  apps/backend/database/performance-monitoring-migration.sql
  apps/backend/database/reset-db.sql
Due: none

feat(#245)-Performance Analytics Full backend setup
  apps/backend/src/app.ts
  apps/backend/src/controllers/performance.controller.ts
  apps/backend/src/db/index.ts
  apps/backend/src/middleware/performance.middleware.ts
  apps/backend/src/models/performance-event.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/performance.routes.ts
  apps/backend/src/services/performance-monitor.service.ts
  apps/backend/src/services/recommendation-engine.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/performance.validator.ts
Due: none

feat(#245)-Performance Analytics Frontend Setup setup
  apps/mobile/App.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/engagement.service.ts
  apps/mobile/services/performance.service.ts
Due: eslint --fix

444 UI overhaul (#495)
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
  .husky/pre-commit
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/jest.cleanup.ts
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
  apps/mobile/context/SavedContext.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
  apps/mobile/package.json
  apps/mobile/screens/FocusScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/UI/iconButton.test.tsx
  apps/mobile/test/components/UI/searchBar.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveCard.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveReader.test.tsx
  apps/mobile/test/screens/LikedScreen.test.tsx
  apps/mobile/test/screens/SearchScreen.test.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/test/screens/focusScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(#245)- Improve test coverage
  apps/backend/test/controllers/performance.controller.test.ts
  apps/backend/test/db/db.index.test.ts
  apps/backend/test/models/performance-event.model.test.ts
  apps/backend/test/services/performance-monitor.service.test.ts
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/services/performance.service.test.ts
Due: eslint --fix

fix(#498):missing themes and UI improvements/bug fixes
  apps/mobile/screens/AdminScreen.tsx
  apps/mobile/screens/HomeScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/test/screens/SettingsScreen.test.tsx
  apps/mobile/test/screens/UpdateEmailScreen.test.tsx
  apps/mobile/test/screens/UpdatePasswordScreen.test.tsx
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

Devops(#479):fix merge conflicts
  apps/mobile/services/api.config.ts
Due: eslint --fix

Devops(#479):Fix failing sonarqube tests
  apps/backend/test/src/index.test.ts
Due: none

Devops(#479):Fix security issues
  apps/backend/dockerfile
  apps/mobile/Dockerfile
  apps/mobile/nginx.conf
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: prettier --write

Devops(#479):Fix more security issues
  apps/backend/dockerfile
Due: none

Devops(#479):Fix frontend container
  apps/backend/dockerfile
  apps/mobile/Dockerfile
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yaml
Due: prettier --write

Devops(#479):Fixed staging and prod docker paths
  apps/mobile/Dockerfile
  docker-compose.prod.yml
Due: prettier --write

Potential fix for code scanning alert no. 114: Assignment to constant
  apps/mobile/services/api.config.ts
Due: eslint --fix

Potential fix for code scanning alert no. 115: Assignment to constant
  apps/mobile/services/api.config.ts
Due: eslint --fix

Devops(#479):Lint fix
  apps/mobile/services/api.config.ts
Due: eslint --fix

Fix SonarQube: remove duplicates and improve test coverage
  apps/mobile/components/categoryFilterSheet 2.tsx
  apps/mobile/components/categoryFilterSheet 3.tsx
  apps/mobile/test/components/categoryFilterSheet.test2 2.tsx
  apps/mobile/test/components/categoryFilterSheet.test2.tsx
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

fix(#501): adding collection does not infinitely loop.
  apps/mobile/screens/HomeScreen.tsx
Due: eslint --fix

test(): fix failing test in reminder-scheduler
  apps/backend/test/services/reminder-scheduler.service.test.ts
Due: none

Increase ProfileScreen coverage and refactor
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/jest.setup.js
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/utils/photoUpload.test.ts
  apps/mobile/utils/photoUpload.ts
Due: eslint --fix

Update pnpm-lock.yml
  pnpm-lock.yaml
Due: prettier --write

Fix TypeScript errors and tests
  apps/mobile/services/chat.service.ts
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/components/chat/ChatList.test.tsx
  apps/mobile/test/screens/chatScreen.test.tsx
  apps/mobile/test/services/chat.service.test.ts
  apps/mobile/types/chat.types.ts
Due: eslint --fix

bug(#515)-Make explanation and example only render when there is one
  apps/mobile/components/deepDive/DeepDiveReader.tsx
Due: eslint --fix

bug(#515)-Added a back button from the send mantra page
  apps/mobile/screens/ShareMantraScreen.tsx
Due: eslint --fix

bug(#515)- Reorded reminder screen so active ones are at the top rather than completed ones
  apps/mobile/screens/RemindersScreen.tsx
Due: eslint --fix

bug(#515)- Scroll activated when logging in
  apps/mobile/screens/LoginScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
Due: eslint --fix

fix(#515)- Fix tests
  apps/mobile/test/screens/ProfileScreen.test.tsx
Due: eslint --fix

feat(#545)- Fix so that chat screen shows profile pic
  apps/backend/src/models/conversation.model.ts
Due: none

fix username rendering
  apps/mobile/screens/ProfileScreen.tsx
Due: eslint --fix

feat(#545)-fix deprecated library
  apps/mobile/utils/photoUpload.ts
Due: eslint --fix

test(#545)-fix tests
  apps/mobile/test/screens/ProfileScreen.test.tsx
  apps/mobile/test/utils/photoUpload.test.ts
Due: eslint --fix

test(#545)-fix sonar issue for deprecated library and tests
  apps/mobile/jest.setup.js
  apps/mobile/test/utils/photoUpload.test.ts
  apps/mobile/utils/photoUpload.ts
Due: eslint --fix

<BUG>(#519): UI adjustments and bug fixes
  apps/mobile/App.tsx
  apps/mobile/context/SavedContext.tsx
  apps/mobile/screens/ShareMantraScreen.tsx
Due: eslint --fix

more fixes
  apps/mobile/components/UI/textInputWrapper.tsx
  apps/mobile/screens/ProfileScreen.tsx
Due: eslint --fix

Add stakeholder feedback updates
  apps/backend/database/journal-reminder-migration.sql
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/reminder.validator.ts
  apps/mobile/app/index.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/package.json
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/services/reminder.service.ts
  apps/mobile/test/components/deepDive/DeepDiveReader.test.tsx
  apps/mobile/test/context/ThemeContext.test.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix:Typescript backend error
  apps/backend/database/journal-reminder-migration 2.sql
  apps/backend/src/models/reminder.model.ts
Due: none

Release 3 feedback: Ocean Blue default, remove quotes, remove headers, external share
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/test/components/deepDive/DeepDiveReader.test.tsx
  apps/mobile/test/context/ThemeContext.test.tsx
Due: eslint --fix

feat(#511): add React Query setup and data-fetching hooks
  apps/mobile/App.tsx
  apps/mobile/hooks/index.ts
  apps/mobile/hooks/queryClient.ts
  apps/mobile/hooks/useAlgorithmQueries.ts
  apps/mobile/hooks/useCategoryQueries.ts
  apps/mobile/hooks/useChatQueries.ts
  apps/mobile/hooks/useCollectionQueries.ts
  apps/mobile/hooks/useJournalQueries.ts
  apps/mobile/hooks/useMantraQueries.ts
  apps/mobile/hooks/useRatingQueries.ts
  apps/mobile/hooks/useRecommendationQueries.ts
  apps/mobile/hooks/useReminderQueries.ts
  apps/mobile/package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
