Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(#18): edited prettier format to apply to TypeScript files
  .lintstagedrc.json
Due: prettier --write

docs(#20): initial class diagram
  docs/diagrams/ClassDiagramIterationOne.png
Due: none

fix(#13): require manual ts-node install in apps/mobile for npm test to work when cloning the repo
  .gitignore
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/test/App.test.tsx
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(): edited read me for repo local setup
  README.md
Due: prettier --write

docs(#21): initial architecture diagram
  docs/diagrams/ArchitectureDiagram.png
Due: none

test(#14): Add initial E2E test configuration in Maestro
  apps/mobile/.npmrc
  apps/mobile/app.json
  apps/mobile/package.json
  apps/mobile/test/App.test.tsx
  maestro/test.yaml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(#14): update import type for Jest configuration
  jest.config.ts
Due: none

docs(#21): Database Change for Architecture Diagram
  docs/diagrams/ArchitectureDiagram.png
  docs/diagrams/MeMantraArchitecture.drawio.png
Due: none

fix(#22): Address review comments
  apps/mobile/app.json
  apps/mobile/package.json
  eslint.config.mjs
  maestro/test.yaml
Due: prettier --write

feat(#12): enhance build task outputs and add test task with coverage to set up ci commands
  .gitignore
  .husky/pre-commit
  apps/mobile/babel.config.js
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
  apps/mobile/package.json
  eslint.config.mjs
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

Create Annex_A
  docs/legal/Annex_A
Due: none

Add files via upload
  docs/legal/Annex A - Student Project Sponsorship Acknowledgement for Companies.pdf
  docs/legal/Stakeholder responsibilities and liability limtation.pdf
Due: none

Delete docs/legal/Annex_A
  docs/legal/Annex_A
Due: none

Test commit
  .gitignore
  .husky/pre-commit
  apps/mobile/App.tsx
  eslint.config.mjs
Due: eslint --fix

chore(): Trial commit
  .husky/pre-commit
  apps/mobile/App.tsx
Due: eslint --fix

devops(#12): add CI workflow for MeMantra Mobile with linting, typechecking, testing, and building steps
  .github/workflows/ci.yml
Due: prettier --write

devops(#12): fix -add verification and installation steps for pnpm in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

devops(): streamline pnpm installation steps in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

devops(): simplify CI workflow by consolidating pnpm setup and caching steps
  .github/workflows/ci.yml
Due: prettier --write

devops(): removed pnpm cache dependencies in Node setup
  .github/workflows/ci.yml
Due: prettier --write

devops(): update pnpm version to 9.15.9 in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

devops(): update test script to include coverage flag in package.json
  .github/workflows/ci.yml
  package.json
Due: prettier --write

devops(): remove __snapshots__ directory from .gitignore and add Jest snapshot for App component
  .gitignore
  apps/mobile/test/__snapshots__/App.test.tsx.snap
Due: none

Create deployment-diagram.mmd
  docs/diagrams/deployment-diagram.mmd
Due: none

Add files via upload
  docs/diagrams/Deployment_Infrastructure.svg
Due: none

Delete docs/diagrams/deployment-diagram.mmd
  docs/diagrams/deployment-diagram.mmd
Due: none

Add files via upload
  docs/diagrams/Deployment_Infrastructure_diagram.svg
Due: none

Delete docs/diagrams/Deployment_Infrastructure.svg
  docs/diagrams/Deployment_Infrastructure.svg
Due: none

docs(#20) - updated class diagram for iteration 1
  docs/diagrams/ClassDiagramIerationOne.png
  docs/diagrams/ClassDiagramIterationOne.png
Due: none

docs(#21): Change from Pisma to Kysely ORM
  docs/diagrams/MeMantraArchitecture.drawio.png
  docs/diagrams/MeMantraArchitecture.png
Due: none

docs(): update README instructions
  README.md
Due: prettier --write

Fix Wiki link and add Table of Contents
  README.md
Due: prettier --write

Uploaded DB Relational Design Diagram
  docs/diagrams/DB Relational Design Diagram.png
Due: none

Created a branch for adding docker - Not functional until db and backend have been created. Also updated node from 20->22
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  apps/api/src/dockerfile
  apps/api/src/index.ts
  apps/mobile/package.json
  docker-compose.yaml
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
