Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix logo background colour
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/logo.png
  apps/mobile/assets/splash-icon.png
Due: none

Add privacy policy page and store listing assets
  apps/backend/src/app.ts
  apps/mobile/assets/feature-graphic.png
  apps/mobile/assets/icon-512.png
Due: none

Add account deletion request page for Google Play compliance
  apps/backend/src/app.ts
Due: none

Add Apple Guideline 1.2 + 5.1.1 compliance
  apps/backend/src/app.ts
  apps/backend/src/controllers/report.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/report.routes.ts
  apps/mobile/app/index.tsx
  apps/mobile/components/chat/ChatBubble.tsx
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/screens/LoginScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/TermsOfUseScreen.tsx
  apps/mobile/services/chat.service.ts
  apps/mobile/utils/storage.ts
Due: eslint --fix

Update app.json and google-services.json
  apps/mobile/app.json
  apps/mobile/google-services.json
Due: prettier --write

Fix tests for terms-of-use gating and ActionSheet changes
  apps/mobile/test/components/chat/ChatBubble.test.tsx
  apps/mobile/test/screens/CompleteSignUpScreen.test.tsx
  apps/mobile/test/screens/LoginScreen.test.tsx
Due: eslint --fix

Sanitize user input in report controller to prevent log injection
  apps/backend/src/controllers/report.controller.ts
Due: none

Add tests for report controller, terms-of-use screen, and storage helpers
  apps/backend/test/controllers/report.controller.test.ts
  apps/backend/test/integration/index.test.ts
  apps/mobile/test/screens/TermsOfUseScreen.test.tsx
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

Add message reporting and user blocking features
  .DS_Store
  apps/.DS_Store
  apps/backend/database/message-report-migration.sql
  apps/backend/src/controllers/messageReport.controller.ts
  apps/backend/src/models/messageReport.model.ts
  apps/backend/src/models/userBlock.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/messageReport.routes.ts
  apps/backend/src/types/database.types.ts
  apps/mobile/components/admin/MessageReportList.tsx
  apps/mobile/components/moderation/MessageReportModal.tsx
  apps/mobile/screens/AdminScreen.tsx
  apps/mobile/services/moderation.service.ts
  apps/mobile/test/screens/ProfileScreen.test.tsx
Due: eslint --fix

fix: correct TypeScript types and mocks in test files for 100% coverage
  apps/backend/test/controllers/messageReport.controller.test.ts
  apps/backend/test/models/messageReport.model.test.ts
  apps/backend/test/models/userBlock.model.test.ts
Due: none

Add comprehensive test coverage for moderation features
  apps/backend/test/controllers/messageReport.controller.test.ts
  apps/mobile/test/components/admin/MessageReportList.test.tsx
  apps/mobile/test/components/moderation/MessageReportModal.test.tsx
  apps/mobile/test/services/moderation.service.test.ts
Due: eslint --fix

Add comprehensive edge case tests for moderation features to boost coverage
  apps/backend/test/controllers/report.controller.test.ts
  apps/mobile/test/services/moderation.service.test.ts
Due: eslint --fix

Fix TypeScript errors in moderation service tests
  apps/mobile/test/services/moderation.service.test.ts
Due: eslint --fix

Add block/unblock users UI and fix admin reports auth error
  apps/mobile/app/index.tsx
  apps/mobile/components/admin/MessageReportList.tsx
  apps/mobile/screens/BlockedUsersScreen.tsx
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/test/components/admin/MessageReportList.test.tsx
Due: eslint --fix

Add tests for block/unblock UI to meet 80% coverage gate
  apps/mobile/test/screens/BlockedUsersScreen.test.tsx
  apps/mobile/test/screens/SettingsScreen.test.tsx
  apps/mobile/test/screens/conversationScreen.test.tsx
Due: eslint --fix

Fix admin reports tab UI layout
  apps/mobile/components/admin/MessageReportList.tsx
  apps/mobile/screens/AdminScreen.tsx
Due: eslint --fix

Fix migration to use correct PascalCase table references
  apps/backend/database/message-report-migration.sql
Due: none

Fix report message to use moderation endpoint that persists to DB
  apps/mobile/services/chat.service.ts
Due: eslint --fix

Add report reason picker and auto-delete message on accepted reports
  apps/backend/src/controllers/messageReport.controller.ts
  apps/mobile/screens/ConversationScreen.tsx
Due: eslint --fix

Fix updateReportStatus tests to match new findById + message deletion logic
  apps/backend/test/controllers/messageReport.controller.test.ts
Due: none

Block users from sending messages when either party has blocked the other
  apps/backend/src/controllers/chat.controller.ts
  apps/backend/test/controllers/chat.controller.test.ts
Due: none

Fix BlockedUsersScreen crash by returning username from getBlockedUsers query
  apps/backend/src/models/userBlock.model.ts
  apps/backend/test/models/userBlock.model.test.ts
Due: none

Fix Dockerfile port mismatch causing Render deploy timeout
  apps/backend/dockerfile
Due: none

Enable auto-increment build number for iOS production builds
  apps/mobile/app.json
  apps/mobile/eas.json
Due: prettier --write

chore(deps): remove npm lockfiles and keep pnpm lockfile to prevent stale Dependabot alerts.
  apps/mobile/package-lock.json
  package-lock.json
Due: prettier --write

fix(mobile-tests): stabilize axios/jest runtime and align api config tests
  apps/mobile/jest.setup.js
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

fix(tests): update jest mock for api.config.local to use virtual module
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

fix(api.config): improve NODE_ENV handling and add tests for production URL and unsupported platforms
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

Revise Deployment Status & Policy section in README
  README.md
Due: prettier --write

Update README with repository layout and development steps
  README.md
Due: prettier --write

Update README with new links and demo information
  README.md
Due: prettier --write

Remove outdated links from README
  README.md
Due: prettier --write

Document Release 3 with demo and important files
  README.md
Due: prettier --write

Update README formatting for consistency
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update README with demo and test links
  README.md
Due: prettier --write

Fix table formatting in README.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
