Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Update prepare script to avoid husky failure
  package.json
Due: prettier --write

feat(#338): add EmailVerificationToken table and types
  apps/backend/database/email-verification-migration.sql
  apps/backend/src/models/email-verification-token.model.ts
  apps/backend/src/types/database.types.ts
Due: none

feat(#338): add signup verification email template and validators
  apps/backend/src/services/email.service.ts
  apps/backend/src/validators/auth.validator.ts
Due: none

feat(#338): add signup email verification endpoints
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/routes/auth.routes.ts
Due: none

feat(#338): implement 3-step email verification signup flow
  apps/mobile/app/index.tsx
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
  apps/mobile/services/auth.service.ts
Due: eslint --fix

refactor(#338): implement copilot recommended changes
  apps/backend/src/services/email.service.ts
Due: none

test(#338): fix failing test
  apps/backend/test/controllers/auth.controller.test.ts
Due: none

refactor(#338): fix duplication issues (sonarqube)
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/mobile/screens/ForgotPasswordScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/utils/validation.ts
Due: eslint --fix

refactor(#338): 0.1% of duplication remaining
  apps/mobile/components/UI/EmailFormScreen.tsx
  apps/mobile/screens/ForgotPasswordScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/test/screens/ForgotPasswordScreen.test.tsx
Due: eslint --fix

refactor(#338): fix error in pipeline for pnpm -w typecheck
  apps/mobile/screens/SignUp.tsx
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix

test(#338): increase coverage for mobile folder
  apps/mobile/test/screens/CompleteSignUpScreen.test.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/SignUpEmailScreen.test.tsx
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix

test(#338): increase coverage for backend folder
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/models/email-verification-token.model.test.ts
  apps/backend/test/services/email.service.test.ts
Due: none

devops(#368); Merging changes from old outdated PR to new branch based on recent version of main
  apps/backend/database/init.sql
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/src/services/email.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/utils/featureFlags.ts
  apps/mobile/components/FeatureEnabled.tsx
  apps/mobile/jest.setup.js
Due: eslint --fix

Devops(#368): Better handling of enabling flag branching logic
  apps/backend/src/controllers/user.controller.ts
Due: none

fix(#457)-Make New Mantras appear
  apps/backend/src/services/recommendation-engine.service.ts
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

fix(#457)-Fix tests
  apps/mobile/test/screens/adminScreen.test.tsx
Due: eslint --fix

refactor(#462): refactor reminder screens to use theme context, font and NativeWind for styling
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
Due: eslint --fix

fix(#462): fix 2 failing tests
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

fix: add missing feature_flags tests in backend
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

Resolve test failures and improve code coverage in backend and mobile
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/utils/featureFlags.test.ts
  apps/mobile/jest.setup.js
  apps/mobile/test/components/FeatureEnabled.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
Due: eslint --fix

Call setupNotifications() directly after successful login and signup
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

feat: implement backend profile photo functionality
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/profile.routes.ts
  apps/backend/src/services/email.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/utils/featureFlags.ts
  apps/backend/test/controllers/profile.controller.test.ts
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
  apps/backend/test/utils/featureFlags.test.ts
  apps/mobile/jest.setup.js
  apps/mobile/test/components/FeatureEnabled.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
Due: eslint --fix

chore(): re-run workflow
  .gitignore
Due: none

Implement actions modal in MantraCarousel and fix homescreen button clutter
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Feat(Add Feature Flag UI for Admin Fixes #465): Added new endpoints and API functions for UI functions
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/src/validators/user.validator.ts
Due: none

added basic icons to further customize collections
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/collection.validator.ts
  apps/mobile/components/collectionsSheet.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/collection.service.ts
Due: eslint --fix

fixed failing tests
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/validators/collection.validator.ts
  apps/mobile/test/components/collectionsSheet.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

fixed failing backend tests
  apps/backend/test/controllers/collection.controller.test.ts
  apps/backend/test/models/collection.model.test.ts
Due: none

feat(#465): Added metadata to flags + ability to export an array of them
  apps/backend/src/utils/featureFlags.ts
Due: none

feat(#465): fix feature-flag routes/sonar issues and add bulk user flag assignment UI
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/user.routes.ts
  apps/mobile/components/admin/FeatureFlagsPanel.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/services/user.service.ts
Due: eslint --fix

feat(a#465): fix feature-flag scrolling UI
  apps/mobile/components/admin/FeatureFlagsPanel.tsx
Due: eslint --fix

extra fixes for device registration and notifications
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/notification.service.ts
  apps/mobile/utils/auth.ts
Due: eslint --fix

fix tests
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/utils/timezone.utils.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

Feat(#465): dynamic de-rendering and rendering of flags without needing logout/login
  apps/mobile/components/FeatureEnabled.tsx
Due: eslint --fix

removed production api
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

android notif channel, stale token cleanup
  apps/backend/.env.example
  apps/backend/src/models/user.model.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/test/services/notification.service.test.ts
  apps/mobile/services/notification.service.ts
Due: eslint --fix

feat(#465):added input validation for feature rollout
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/validators/user.validator.ts
  apps/mobile/screens/adminScreen.tsx
Due: eslint --fix

feat(#472)-Mantra category implementation
  apps/mobile/components/categoryFilterSheet.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 87: Unused variable, import, function or class
  apps/mobile/components/categoryFilterSheet.tsx
Due: eslint --fix

test(#472)-Improving Test Coverage
  apps/mobile/test/components/categoryFilterSheet.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix
