Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(#511): add Redis caching infrastructure
  apps/backend/package.json
  apps/backend/src/config/redis.config.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/cache.middleware.ts
  apps/backend/src/services/cache.service.ts
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yaml
  pnpm-lock.yaml
Due: prettier --write

feat(#511): add cache middleware to GET routes
  apps/backend/src/routes/category.routes.ts
  apps/backend/src/routes/collection.routes.ts
  apps/backend/src/routes/journal.routes.ts
  apps/backend/src/routes/like.routes.ts
  apps/backend/src/routes/mantra.routes.ts
  apps/backend/src/routes/rating.routes.ts
  apps/backend/src/routes/recommendation.routes.ts
  apps/backend/src/routes/reminder.routes.ts
Due: none

feat(#511): add cache invalidation on mutations
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
Due: none

feat(#512): add BullMQ queue config and workers
  apps/backend/package.json
  apps/backend/src/config/queue.config.ts
  apps/backend/src/workers/engagement-optimizer.worker.ts
  apps/backend/src/workers/index.ts
  apps/backend/src/workers/recommendation.worker.ts
  apps/backend/src/workers/reminder.worker.ts
  pnpm-lock.yaml
Due: prettier --write

feat(#512): refactor schedulers to enqueue BullMQ jobs
  apps/backend/src/index.ts
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
Due: none

Fix: map server 'default' theme to 'ocean' for logged-in users
  apps/mobile/context/ThemeContext.tsx
Due: eslint --fix

feat(#513): add database indexes on commonly filtered columns
  apps/backend/database/index-migration.sql
  apps/backend/database/init.sql
Due: none

feat(test): add end-to-end tests for various app functionalities
  apps/mobile/index.ts
  maestro/CategoryFilterTest.yaml
  maestro/CollectionTest.yaml
  maestro/JournalTest.yaml
  maestro/LikeMantraTest.yaml
  maestro/ProfileTest.yaml
  maestro/ReminderTest.yaml
  maestro/SearchTest.yaml
  maestro/SendMessageTest.yaml
  maestro/test.yaml
Due: eslint --fix, prettier --write

fix(): replace console with logger utility
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/utils/logger.ts
  apps/mobile/services/api.config.ts
Due: eslint --fix

feat(): navigate back to verification screen if there's a pending code
  apps/mobile/app/index.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/utils/storage.ts
Due: eslint --fix

chore(): re-run workflow
  .gitignore
Due: none

test(#521): fix failing test in pupeline
  apps/backend/test/src/index.test.ts
  apps/mobile/services/api.config.ts
Due: eslint --fix

test(#521): fix failing test in mobile folder
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
Due: eslint --fix

test(#521): increase test coverage
  apps/backend/test/src/config/redis.config.test.ts
  apps/backend/test/src/middleware/cache.middleware.test.ts
  apps/backend/test/src/services/cache.service.test.ts
  apps/backend/test/src/workers/engagement-optimizer.worker.test.ts
  apps/backend/test/src/workers/recommendation.worker.test.ts
  apps/backend/test/src/workers/reminder.worker.test.ts
  apps/mobile/test/hooks/useAlgorithmQueries.test.ts
  apps/mobile/test/hooks/useCategoryQueries.test.ts
  apps/mobile/test/hooks/useChatQueries.test.ts
  apps/mobile/test/hooks/useCollectionQueries.test.ts
  apps/mobile/test/hooks/useJournalQueries.test.ts
  apps/mobile/test/hooks/useMantraQueries.test.ts
  apps/mobile/test/hooks/useRatingQueries.test.ts
  apps/mobile/test/hooks/useRecommendationQueries.test.ts
  apps/mobile/test/hooks/useReminderQueries.test.ts
Due: eslint --fix

Add tests for external share button, theme migration, and optional label
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/components/deepDive/DeepDiveCard.test.tsx
  apps/mobile/test/context/ThemeContext.test.tsx
Due: eslint --fix

Fix Redis caching security, category invalidation, BullMQ worker safety
  apps/backend/src/config/queue.config.ts
  apps/backend/src/config/redis.config.ts
  apps/backend/src/controllers/category.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/cache.middleware.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/workers/engagement-optimizer.worker.ts
  apps/backend/src/workers/recommendation.worker.ts
  apps/backend/src/workers/reminder.worker.ts
  apps/backend/test/src/middleware/cache.middleware.test.ts
  apps/backend/test/src/workers/engagement-optimizer.worker.test.ts
  apps/backend/test/src/workers/recommendation.worker.test.ts
  apps/backend/test/src/workers/reminder.worker.test.ts
Due: none

Fix test for recommendation notification race condition fix
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

Fix: lazy-init BullMQ queues so backend starts without Redis
  apps/backend/src/config/queue.config.ts
  apps/backend/src/config/redis.config.ts
  apps/backend/src/index.ts
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/test/src/index.test.ts
Due: none

fix: suppress repeated Redis connection error logs in production
  apps/backend/src/config/redis.config.ts
Due: none

journal reminders
  apps/backend/database/journal-reminder-migration.sql
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/reminder.validator.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/backend/test/validators/reminder.validator.test.ts
  apps/mobile/hooks/useReminders.ts
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/services/reminder.service.ts
  apps/mobile/src/navigation/types.ts
Due: eslint --fix

update redis config test
  apps/backend/test/src/config/redis.config.test.ts
Due: none

fix tests
  apps/backend/test/models/reminder.model.test.ts
Due: none

more test fixes
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
Due: eslint --fix

code coverage & code dupe
  apps/backend/src/models/reminder.model.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/backend/test/services/notification.service.test.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/test/hooks/useReminders.test.ts
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
Due: eslint --fix

fix: update splash screen background from sage green to ocean blue
  apps/mobile/App.tsx
  apps/mobile/app.json
Due: eslint --fix, prettier --write

fix(#36): React Server Components are Vulnerable to RCE
  apps/backend/test/scripts/seed.test.ts
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: disable automatic installation in pnpm setup and update expo-image dependencies
  .github/workflows/sonar.yml
  pnpm-lock.yaml
Due: prettier --write

fix(): remove unused hooks
  apps/mobile/hooks/index.ts
  apps/mobile/hooks/useAlgorithmQueries.ts
  apps/mobile/hooks/useCategoryQueries.ts
  apps/mobile/hooks/useChatQueries.ts
  apps/mobile/hooks/useCollectionQueries.ts
  apps/mobile/hooks/useJournalQueries.ts
  apps/mobile/hooks/useMantraQueries.ts
  apps/mobile/hooks/useRatingQueries.ts
  apps/mobile/hooks/useRecommendationQueries.ts
  apps/mobile/hooks/useReminderQueries.ts
  apps/mobile/screens/BookmarkScreen.tsx
  apps/mobile/screens/ChatScreen.tsx
  apps/mobile/screens/CollectionScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
  apps/mobile/screens/LikedScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/screens/ShareMantraScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/test/hooks/useAlgorithmQueries.test.ts
  apps/mobile/test/hooks/useCategoryQueries.test.ts
  apps/mobile/test/hooks/useChatQueries.test.ts
  apps/mobile/test/hooks/useCollectionQueries.test.ts
  apps/mobile/test/hooks/useJournalQueries.test.ts
  apps/mobile/test/hooks/useMantraQueries.test.ts
  apps/mobile/test/hooks/useRatingQueries.test.ts
  apps/mobile/test/hooks/useRecommendationQueries.test.ts
  apps/mobile/test/hooks/useReminderQueries.test.ts
  apps/mobile/test/screens/JournalEditorScreen.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/screens/LikedScreen.test.tsx
  apps/mobile/test/screens/RemindersScreen.test.tsx
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
  apps/mobile/test/screens/bookmarkScreen.test.tsx
  apps/mobile/test/screens/chatScreen.test.tsx
  apps/mobile/test/screens/collectionScreen.test.tsx
Due: eslint --fix

fix(#511): added a check to see if if redis connecton can be established
  apps/backend/src/config/redis.config.ts
  apps/backend/src/services/cache.service.ts
  apps/backend/test/src/config/redis.config.test.ts
  apps/backend/test/src/services/cache.service.test.ts
Due: none

fix(): revert to port 4000 for test in pipeline
  apps/mobile/services/api.config.ts
Due: eslint --fix

fix: UI adjustments and config updates
  apps/mobile/app.json
  apps/mobile/components/carousel.tsx
  apps/mobile/components/deepDive/DeepDiveCard.tsx
  apps/mobile/components/deepDive/DeepDiveReader.tsx
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/test/components/deepDive/DeepDiveCard.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add new admin email to ADMIN_EMAILS array
  apps/mobile/utils/admin.ts
Due: eslint --fix

Implement code changes to enhance functionality and improve performance
  pnpm-lock.yaml
Due: prettier --write

fix: add KeyboardAvoidingView to all screens with text inputs
  apps/mobile/app.json
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/screens/ConversationScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/LoginScreen.tsx
  apps/mobile/screens/ResetPasswordScreen.tsx
  apps/mobile/screens/SignUpScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
Due: eslint --fix, prettier --write

refactor(#535): keep verification code screen after app is closed and reopened
  apps/mobile/app/index.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/utils/storage.ts
Due: eslint --fix

test(#535): increase test coverage
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
Due: eslint --fix

feat: update app logo to new MeMantra branding
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/logo.png
  apps/mobile/assets/splash-icon.png
Due: none

Fix app name and icon sizing
  apps/mobile/app.json
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
Due: prettier --write
