Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Refactor like/unlike mantra methods to use request
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

fix: resolve 8 failing mantra.service tests
  apps/mobile/services/mantra.service.ts
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

fix: resolve mantra.service coverage issues
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

Refactor like and unlike mantra methods
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

rebased main and fixed like count
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/models/mantra.model.ts
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

Refactor likeMantra and unlikeMantra methods
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

test(#370)-Fix existing tests
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

test(#370)-Add frontend tests
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/test/components/chat/ChatBubble.test.tsx
  apps/mobile/test/components/chat/ChatInput.test.tsx
  apps/mobile/test/components/chat/ChatList.test.tsx
  apps/mobile/test/screens/NewConversationScreen.test.tsx
  apps/mobile/test/screens/ShareMantraScreen.test.tsx
  apps/mobile/test/screens/conversationScreen.test.tsx
  apps/mobile/test/services/chat.service.test.ts
Due: eslint --fix

test(#370)-Added backend tests
  apps/backend/test/controllers/chat.controller.test.ts
  apps/backend/test/models/conversation.model.test.ts
  apps/backend/test/models/message.model.test.ts
  apps/backend/test/models/messageReaction.model.test.ts
  apps/mobile/test/components/chat/ChatList.test.tsx
Due: eslint --fix

test(#370)-Increase timeout on AdminScreen test
  apps/mobile/test/screens/adminScreen.test.tsx
Due: eslint --fix

test(#370)-Fix Sonar issues
  apps/backend/database/chat-migration.sql
  apps/mobile/components/chat/ChatBubble.tsx
  apps/mobile/screens/NewConversationScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
  apps/mobile/test/components/chat/ChatBubble.test.tsx
Due: eslint --fix

test(#370)-Fix Sonar issues (deprecated swipeable)
  apps/mobile/components/chat/ChatBubble.tsx
Due: eslint --fix

service
  apps/backend/src/services/notification.service.ts
Due: none

controller
  apps/backend/src/controllers/notification.controller.ts
Due: none

notification deps + notification service
  apps/mobile/app.json
  apps/mobile/package.json
  apps/mobile/services/notification.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

validator
  apps/backend/src/validators/notification.validator.ts
Due: none

app setup notifications when user logged in
  apps/mobile/app/index.tsx
Due: eslint --fix

routes
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/notification.routes.ts
Due: none

event listeners + bug fixes
  apps/backend/src/validators/notification.validator.ts
  apps/mobile/app/index.tsx
  apps/mobile/services/notification.service.ts
Due: eslint --fix

unit tests
  apps/backend/test/controllers/notification.controller.test.ts
  apps/backend/test/services/notification.service.test.ts
  apps/backend/test/validators/notification.validator.test.ts
  apps/mobile/test/services/notification.service.test.ts
Due: eslint --fix

feat: add Rating table for mantra ratings
  apps/backend/database/init.sql
  apps/backend/src/models/rating.model.ts
  apps/backend/src/types/database.types.ts
Due: none

feat(#377): Connect backend for rating when save mantra
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/models/rating.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/rating.routes.ts
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
  apps/mobile/services/rating.service.ts
Due: eslint --fix

fix(#377): Add tests for rating service, and fix star animation
  apps/mobile/components/UI/savedPopupBar.tsx
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/services/rating.service.test.ts
Due: eslint --fix

test(#339): rework on the test to pass sonarqube
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/models/password-reset-token.model.test.ts
  apps/backend/test/services/email.service.test.ts
  apps/mobile/test/screens/ForgotPasswordScreen.test.tsx
  apps/mobile/test/screens/ResetPasswordScreen.test.tsx
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix

test(#339): increase timeout of failing test
  apps/mobile/test/screens/VerifyCodeScreen.test.tsx
Due: eslint --fix

test(#339): fix codeql error
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/services/email.service.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/services/email.service.test.ts
  apps/mobile/screens/VerifyCodeScreen.tsx
Due: eslint --fix

fix(#382)-Replace problematic react-native-reanimated
  apps/mobile/components/chat/ChatBubble.tsx
Due: eslint --fix

fix(#382)-use the right route for likes in mantra service
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

fix(#382)-fix tests
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

fix(#382)-fix chat reply
  apps/mobile/components/chat/ChatBubble.tsx
Due: eslint --fix

fix(#382)-improve test coverage
  apps/mobile/jest.setup.js
  apps/mobile/services/chat.service.ts
  apps/mobile/test/components/chat/ChatBubble.test.tsx
  apps/mobile/test/services/chat.service.mock.test.ts
  apps/mobile/test/services/chat.service.test.ts
Due: eslint --fix

fix(#382)-improve test coverage
  apps/mobile/test/components/chat/ChatBubble.test.tsx
Due: eslint --fix

fix(#382)-ignore untestable code for sonar
  apps/mobile/components/chat/ChatBubble.tsx
Due: eslint --fix

chore(#339): missing import in package.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

implemented like count
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/models/mantra.model.ts
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/mantra.service.ts
Due: eslint --fix

fixed findwithlikecount test
  apps/backend/test/models/mantra.model.test.ts
Due: none

fixed findwithlikecount test thoroughly (assertions)
  apps/backend/test/controllers/mantra.controller.test.ts
  apps/backend/test/models/mantra.model.test.ts
Due: none

fixed findwithlikecount orderby test
  apps/backend/test/models/mantra.model.test.ts
Due: none

Potential fix for code scanning alert no. 65: Log injection
  apps/backend/src/controllers/notification.controller.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
