Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/mobile/**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

more fixing
  apps/mobile/components/UI/textWrapper.tsx
Due: eslint --fix

added tests
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/test/components/UI/textWrapper.test.tsx
Due: eslint --fix

fixed sonarqube tests
  apps/mobile/components/UI/textWrapper.tsx
  apps/mobile/test/components/UI/textWrapper.test.tsx
Due: eslint --fix

more fixes
  apps/mobile/test/components/UI/textWrapper.test.tsx
Due: eslint --fix

refactor: eliminate code duplication
  apps/backend/src/controllers/user.controller.ts
  apps/backend/test/controllers/user.controller.test.ts
Due: none

test: add tests to improve code coverage above 80%
  apps/backend/test/controllers/user.controller.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/utils/featureFlags.test.ts
  apps/mobile/test/components/FeatureEnabled.test.tsx
Due: eslint --fix

refactor: fix code duplication
  apps/backend/src/controllers/user.controller.ts
Due: none

notifcations point to collections
  apps/backend/database/collection-reminder-migration.sql
  apps/backend/database/init.sql
  apps/backend/src/models/reminder.model.ts
  apps/backend/src/services/notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
  apps/mobile/app/index.tsx
Due: eslint --fix

more coverage, less duplication
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/test/models/reminder.model.test.ts
  apps/backend/test/services/notification.service.test.ts
  apps/backend/test/services/reminder-scheduler.service.test.ts
Due: none

refactor(#411): Remove the commented out code in UpdateEmailScreen.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
Due: eslint --fix

refactor(#411): Mark the props of the component as read-only
  apps/mobile/screens/SettingsScreen.tsx
Due: eslint --fix

refactor(#411):merge imports from the same module in the same line
  apps/mobile/screens/LikedScreen.tsx
Due: eslint --fix

refactor(#411): use nullish coalescing operator (`??`) instead of a logical or (`||`)
  apps/backend/src/services/notification.service.ts
Due: none

refactor(#411): use optional chain expression
  apps/backend/src/controllers/notification.controller.ts
Due: none

refactor(#411): change replace with replaceAll
  apps/backend/src/controllers/notification.controller.ts
Due: none

chore(): re-run workflow
  apps/mobile/.gitignore
Due: none

docs(#420): update DB and general class diagram
  docs/diagrams/general/Deployment_Infrastructure_diagram.svg
  docs/diagrams/general/MeMantraArchitecture.png
  docs/diagrams/release 1/ClassDiagramIerationOne.png
  docs/diagrams/release 1/DB Relational Design Diagram.png
  docs/diagrams/release 2/GeneralClassDiagram_R2.png
  docs/diagrams/release 2/Me_Mantra_Capstone_Project_R2.webp
Due: none

DB Schema Diagram updated
  docs/diagrams/DB Schema Diagram Updated.png
Due: none

fix: conflicts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/models/user.model.ts
Due: none

fix: mobile and backend tests
  apps/backend/src/services/email.service.ts
  apps/mobile/jest.setup.js
Due: eslint --fix

feat: add PostHog survey screen and integrate PostHog analytics
  .husky/pre-commit
  apps/mobile/App.tsx
  apps/mobile/app/index.tsx
  apps/mobile/declarations.d.ts
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/screens/ForgotPasswordScreen.tsx
  apps/mobile/screens/NewConversationScreen.tsx
  apps/mobile/screens/PostHogSurveyScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/ResetPasswordScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
  apps/mobile/screens/ShareMantraScreen.tsx
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/UpdateEmailScreen.tsx
  apps/mobile/screens/UpdatePasswordScreen.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/screens/bookmarkScreen.tsx
  apps/mobile/screens/chatScreen.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/conversationScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/services/posthog.ts
  apps/mobile/src/navigation/types.ts
  apps/mobile/utils/posthog.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: increase code coverage to pass SonarQube quality gate
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/models/user.model.test.ts
Due: none

docs: generalized_class_diagram
  docs/diagrams/generalized_class_diagram_R2.png
Due: none

Document Release 2 details in README
  README.md
Due: prettier --write

Clean up README by removing empty line
  README.md
Due: prettier --write

feat(429)-Full Backend Implementation
  apps/backend/database/journal-migration.sql
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/models/journal.model.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/journal.routes.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/journal.validator.ts
Due: none

feat(#429)-Frontend Implementation
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
  apps/mobile/screens/NotificationSettingsScreen.tsx
  apps/mobile/screens/focusScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/journal.service.ts
Due: eslint --fix

feat(#429)-Fix delete button overlap
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 80: Unused variable, import, function or class
  apps/mobile/screens/JournalEditorScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 81: Unused variable, import, function or class
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 82: Unused variable, import, function or class
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

feat(#429)-Fix types
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
Due: eslint --fix

feat(#429)-Fix types
  apps/mobile/screens/JournalDetailScreen.tsx
Due: eslint --fix

feat(#429)-Fix failing tests
  apps/mobile/test/components/bottomTabNavigator.test.tsx
Due: eslint --fix

test(#429)-Improve frontend test coverage
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
  apps/mobile/test/screens/JournalDetailScreen.test.tsx
  apps/mobile/test/screens/JournalEditorScreen.test.tsx
  apps/mobile/test/screens/JournalScreen.test.tsx
  apps/mobile/test/services/journal.service.test.ts
Due: eslint --fix

test(#429)-Improve backend test coverage
  apps/backend/test/controllers/journal.controller.test.ts
  apps/backend/test/models/journal.model.test.ts
  apps/mobile/test/services/journal.service.test.ts
Due: eslint --fix

test(#429)-Fix sonar issues
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

test(#429)-Fix sonar issues 2
  apps/mobile/screens/JournalDetailScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/JournalScreen.tsx
Due: eslint --fix

feat(#432): Create Theme page with test theme colors
  apps/mobile/app/index.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/screens/ThemesScreen.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/styles/theme.ts
Due: eslint --fix
