Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(#472)-Removing Redundant conditional
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

test(#472)-Fix Sonar Issues
  apps/mobile/components/categoryFilterSheet.tsx
Due: eslint --fix

test(#467): Attempt-Improve coverage on collectionsheets.tsx and user.service.ts
  apps/mobile/components/collectionsSheet.tsx
  apps/mobile/test/components/collectionsSheet.test.tsx
  apps/mobile/test/services/user.service.test.ts
Due: eslint --fix

story-#477-implement-search-feature
  apps/mobile/app/index.tsx
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

tests
  apps/mobile/screens/SearchScreen.tsx
  apps/mobile/test/screens/SearchScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

test fix
  apps/mobile/test/screens/SearchScreen.test.tsx
Due: eslint --fix

api connection fro profile photo
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/services/user.service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(carousel): replace modal with animated toggle for additional actions
  apps/mobile/components/carousel.tsx
Due: eslint --fix

code smell fixes
  apps/mobile/screens/SearchScreen.tsx
Due: eslint --fix

more code smell fixes
  apps/mobile/screens/SearchScreen.tsx
Due: eslint --fix

feat(#480)-Add Zod validation to auth reset and password endpoints
  apps/backend/src/routes/auth.routes.ts
  apps/backend/src/validators/auth.validator.ts
  apps/backend/test/validators/auth.validator.test.ts
Due: none

feat(#480)-Hash password reset codes with bcrypt before storing
  apps/backend/database/init.sql
  apps/backend/database/password-reset-hash-migration.sql
  apps/backend/src/models/password-reset-token.model.ts
  apps/backend/test/models/password-reset-token.model.test.ts
Due: none

chore(): re-run workflow
  .gitignore
Due: none

feat(#338): add EmailVerificationToken table and types
  apps/backend/database/email-verification-migration.sql
  apps/backend/src/models/email-verification-token.model.ts
  apps/backend/src/types/database.types.ts
Due: none

feat(#338): add signup verification email template and validators
  apps/backend/src/services/email.service.ts
  apps/backend/src/validators/auth.validator.ts
Due: none

feat(#338): add signup email verification endpoints
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/routes/auth.routes.ts
Due: none

feat(#338): implement 3-step email verification signup flow
  apps/mobile/app/index.tsx
  apps/mobile/screens/CompleteSignUpScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/screens/VerifyCodeScreen.tsx
  apps/mobile/services/auth.service.ts
Due: eslint --fix

refactor(#338): implement copilot recommended changes
  apps/backend/src/services/email.service.ts
Due: none

test(#338): fix failing test
  apps/backend/test/controllers/auth.controller.test.ts
Due: none

refactor(#338): fix duplication issues (sonarqube)
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/test/controllers/auth.controller.test.ts
  apps/mobile/screens/ForgotPasswordScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/utils/validation.ts
Due: eslint --fix

test(#338): increase coverage for mobile folder
  apps/mobile/test/screens/CompleteSignUpScreen.test.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/SignUpEmailScreen.test.tsx
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix

refactor(#338): fix error in pipeline for pnpm -w typecheck
  apps/mobile/screens/SignUp.tsx
  apps/mobile/test/services/auth.service.test.ts
Due: eslint --fix

refactor(#338): 0.1% of duplication remaining
  apps/mobile/components/UI/EmailFormScreen.tsx
  apps/mobile/screens/ForgotPasswordScreen.tsx
  apps/mobile/screens/SignUpEmailScreen.tsx
  apps/mobile/test/screens/ForgotPasswordScreen.test.tsx
Due: eslint --fix

test(#338): increase coverage for backend folder
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/models/email-verification-token.model.test.ts
  apps/backend/test/services/email.service.test.ts
Due: none

refactor(#462): refactor reminder screens to use theme context, font and NativeWind for styling
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/RemindersScreen.tsx
  apps/mobile/screens/SettingsScreen.tsx
Due: eslint --fix

fix(#462): fix 2 failing tests
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

Call setupNotifications() directly after successful login and signup
  apps/mobile/screens/SignUp.tsx
  apps/mobile/screens/login.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

feat(#472)-Mantra category implementation
  apps/mobile/components/categoryFilterSheet.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 87: Unused variable, import, function or class
  apps/mobile/components/categoryFilterSheet.tsx
Due: eslint --fix

test(#472)-Improving Test Coverage
  apps/mobile/test/components/categoryFilterSheet.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

fixed failing tests
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/validators/collection.validator.ts
  apps/mobile/test/components/collectionsSheet.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

added basic icons to further customize collections
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/collection.validator.ts
  apps/mobile/components/collectionsSheet.tsx
  apps/mobile/screens/collectionScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/collection.service.ts
Due: eslint --fix

fixed failing backend tests
  apps/backend/test/controllers/collection.controller.test.ts
  apps/backend/test/models/collection.model.test.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
