Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

minor fix
  apps/mobile/components/UI/iconButton.tsx
Due: eslint --fix

more test fixes
  apps/mobile/test/components/UI/iconButton.test.tsx
Due: eslint --fix

test fix
  apps/mobile/test/components/UI/iconButton.test.tsx
Due: eslint --fix

fix tests wrapped in act()
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

await act() instead of waitFor to flush pending tasks
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

fix deadlock
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

removed unnecessary useFakeTimers that slowed down and caused hanging
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

fix: bug 446 test
  apps/mobile/test/screens/CreateReminderScreen.test.tsx
Due: eslint --fix

feat: adaptive recommendation engine
  apps/backend/src/controllers/recommendation.controller.ts
  apps/backend/src/models/category.model.ts
  apps/backend/src/models/mantra.model.ts
  apps/backend/src/routes/recommendation.routes.ts
  apps/backend/src/services/recommendation-engine.service.ts
  apps/backend/src/validators/recommendation.validator.ts
  apps/backend/test/controllers/recommendation.controller.test.ts
  apps/backend/test/services/recommendation-engine.service.test.ts
  apps/mobile/services/recommendation.service.ts
Due: eslint --fix

fix: sonarqube issue
  apps/backend/src/services/recommendation-engine.service.ts
Due: none

feat(#435)- Add Category DB migration
  apps/backend/database/category-seed-migration.sql
Due: none

feat(#435)-Step 3: Add table for category scores
  apps/backend/database/user-category-score-migration.sql
Due: none

feat(#435)- Step four, add logic for score count
  apps/backend/src/controllers/algorithm.controller.ts
  apps/backend/src/controllers/journal.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/rating.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/user-category-score.model.ts
  apps/backend/src/routes/algorithm.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/types/database.types.ts
Due: none

feat(#435)- Step 5, add algorithm logic (Higher score for category=mantra first)
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/services/recommendation-engine.service.ts
Due: none

feat(#435)-Step 6, add frontend UI for user to change/see algorithm
  apps/mobile/app/index.tsx
  apps/mobile/screens/MantraAlgorithmScreen.tsx
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/services/algorithm.service.ts
  apps/mobile/services/mantra.service.ts
  apps/mobile/src/navigation/types.ts
Due: eslint --fix

test(#435)- Fix and Improve Backend tests
  apps/backend/test/controllers/algorithm.controller.test.ts
  apps/backend/test/controllers/mantra.controller.test.ts
  apps/backend/test/models/category.model.test.ts
  apps/backend/test/models/mantra.model.test.ts
  apps/backend/test/models/rating.model.test.ts
  apps/backend/test/models/user-category-score.model.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/services/recommendation-engine.service.test.ts
  apps/backend/test/validators/recommendation.validator.test.ts
Due: none

test(#435)- Fixed and improved frontend test coverage
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/mobile/test/screens/MantraAlgorithmScreen.test.tsx
  apps/mobile/test/services/algorithm.service.test.ts
  apps/mobile/test/services/recommendation.service.test.ts
Due: eslint --fix

test(#435)- Fix sonar issues 1
  apps/backend/src/services/recommendation-engine.service.ts
  apps/mobile/screens/MantraAlgorithmScreen.tsx
Due: eslint --fix

test(#435)- Sonar Issues 2
  apps/mobile/screens/MantraAlgorithmScreen.tsx
Due: eslint --fix

notifs recommending mantras based on rec algo + tests
  apps/backend/src/controllers/notification.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/models/user.model.ts
  apps/backend/src/routes/notification.routes.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

add timezone to user table, recs sent based on user tz
  apps/backend/database/user-timezone-migration.sql
  apps/backend/src/controllers/notification.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/notification.validator.ts
  apps/backend/test/controllers/notification.controller.test.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

fix like count
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/models/like.model.ts
Due: none

sonar test coverage and dedupe
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/services/reminder-scheduler.service.ts
  apps/backend/src/utils/timezone.utils.ts
  apps/backend/test/controllers/mantra.controller.test.ts
  apps/backend/test/controllers/notification.controller.test.ts
  apps/backend/test/models/like.model.test.ts
  apps/backend/test/models/user.model.test.ts
  apps/backend/test/src/index.test.ts
Due: none

Events Logging, Admin analytics
  apps/backend/database/adaptive-timing-migration.sql
  apps/backend/src/controllers/engagement.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/models/engagement.model.ts
  apps/backend/src/routes/engagement.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/types/database.types.ts
  apps/backend/src/validators/engagement.validator.ts
  apps/backend/test/controllers/engagement.controller.test.ts
  apps/backend/test/models/engagement.model.test.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
  apps/backend/test/src/index.test.ts
  apps/mobile/App.tsx
  apps/mobile/app/index.tsx
  apps/mobile/screens/CreateReminderScreen.tsx
  apps/mobile/screens/JournalEditorScreen.tsx
  apps/mobile/screens/adminScreen.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/engagement.service.ts
Due: eslint --fix

fix likedmantras screen
  apps/mobile/screens/LikedScreen.tsx
  apps/mobile/services/mantra.service.ts
  apps/mobile/test/screens/LikedScreen.test.tsx
Due: eslint --fix

reduce duplication by creating cronscheduler utils
  apps/backend/src/services/engagement-optimizer.service.ts
  apps/backend/src/services/recommendation-notification.service.ts
  apps/backend/src/utils/cron-scheduler.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

test coverage
  apps/backend/test/services/engagement-optimizer.service.test.ts
  apps/backend/test/utils/timezone.utils.test.ts
  apps/mobile/test/screens/adminScreen.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/services/engagement.service.test.ts
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix

fix(#432):fix comment, validating themes in controller
  apps/backend/src/controllers/theme.controller.ts
  apps/backend/test/controllers/theme.controller.test.ts
Due: none

dummy commit
  apps/backend/.env.example
Due: none

fix(#432) fix merge conflifts
  apps/backend/src/models/user.model.ts
  apps/backend/test/services/engagement-optimizer.service.test.ts
  apps/backend/test/services/recommendation-notification.service.test.ts
Due: none

fix test
  apps/mobile/test/components/UI/savedPopupBar.test.tsx
Due: eslint --fix

fix savedpopupbar test
  apps/mobile/test/components/UI/savedPopupBar.test.tsx
Due: eslint --fix

quick fix
  apps/mobile/test/components/UI/savedPopupBar.test.tsx
Due: eslint --fix

fix theme tests
  apps/mobile/test/components/UI/savedPopupBar.test.tsx
Due: eslint --fix

implement frontend profile photo logic and UI
  apps/mobile/assets/Profile-default.png
  apps/mobile/components/chat/ChatList.tsx
  apps/mobile/package.json
  apps/mobile/screens/ProfileScreen.tsx
  apps/mobile/types/chat.types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(): re-run workflow
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
