Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(#307,#308):refactor like and bookmark reusable components
  apps/mobile/components/UI/likeButton.tsx
  apps/mobile/components/UI/saveButton.tsx
  apps/mobile/components/carousel.tsx
Due: eslint --fix

feat(#309): Search bar component and animatino
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

fix(#309): Fix typing alignment in search bar
  apps/mobile/components/UI/searchBar.tsx
Due: eslint --fix

refactor(#311): resolve SonarQube flag in mobile folder and update related unit test
  apps/mobile/components/carousel.tsx
  apps/mobile/context/ThemeContext.tsx
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/services/api.config.ts
  apps/mobile/test/services/api.config.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(#311): resolve SonarQube flag in backend folder
  apps/backend/database/init.sql
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/models/like.model.ts
  apps/backend/src/scripts/seed.ts
  apps/backend/src/utils/jwt.utils.ts
  apps/backend/src/validators/auth.validator.ts
  apps/mobile/utils/storage.ts
Due: eslint --fix

refactor(#309):simplify SearchBar by consolidating animation and toggle logic
  apps/mobile/components/UI/searchBar.tsx
Due: eslint --fix

fix(#309): fix animation linting error
  apps/mobile/components/UI/searchBar.tsx
Due: eslint --fix

test(#312): add unit test for SearchBar and fix failing test in HomeScreen
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/test/components/UI/likeButton.test.tsx
  apps/mobile/test/components/UI/searchBar.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

test(#312): fix failing typecheck in pipeline
  apps/mobile/test/components/UI/searchBar.test.tsx
Due: eslint --fix

finalized schemawith updated Category and CollectionMantra schema. Added Reset schema
  apps/backend/database/reset-db.sql
Due: none

update database types(database.types.ts) for schema changes
  apps/backend/src/models/category.model.ts
  apps/backend/src/models/collection.model.ts
  apps/backend/src/types/database.types.ts
Due: none

Added splash screen when opening the app
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: correct state setter name for splash visibility
  apps/mobile/App.tsx
Due: eslint --fix

added tests for new functions and increased the overall coverage for category model file
  apps/backend/test/models/category.models.test.ts
Due: none

create CollectionMantra model for junction table operations and necessary function, refactor collection model
  apps/backend/src/models/collection.model.ts
  apps/backend/src/models/collectionMantra.model.ts
  apps/backend/src/types/database.types.ts
Due: none

test(models): add CollectionMantra tests and update Collection tests
  apps/backend/test/models/collection.model.test.ts
  apps/backend/test/models/collectionMantra.model.test.ts
Due: none

create Reminder model for mantra scheduling
  apps/backend/src/models/reminder.model.ts
Due: none

test(models):added tests for Reminder model and verifed
  apps/backend/test/models/reminder.model.test.ts
Due: none

fix(database): remove code duplication
  apps/backend/database/reset-db.sql
Due: none

REST endpoints, routes, controllers, validators, models
  apps/backend/docs/API_ENDPOINTS.md
  apps/backend/src/controllers/category.controller.ts
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/controllers/like.controller.ts
  apps/backend/src/controllers/mantra.controller.ts
  apps/backend/src/controllers/recommendation.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
  apps/backend/src/models/recommendation.model.ts
  apps/backend/src/routes/category.routes.ts
  apps/backend/src/routes/collection.routes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/like.routes.ts
  apps/backend/src/routes/mantra.routes.ts
  apps/backend/src/routes/recommendation.routes.ts
  apps/backend/src/routes/reminder.routes.ts
  apps/backend/src/validators/category.validator.ts
  apps/backend/src/validators/collection.validator.ts
  apps/backend/src/validators/like.validator.ts
  apps/backend/src/validators/mantra.validator.ts
  apps/backend/src/validators/recommendation.validator.ts
  apps/backend/src/validators/reminder.validator.ts
Due: prettier --write

added unit tests
  apps/backend/test/controllers/category.controller.test.ts
  apps/backend/test/controllers/collection.controller.test.ts
  apps/backend/test/controllers/like.controller.test.ts
  apps/backend/test/controllers/mantra.controller.test.ts
  apps/backend/test/controllers/recommendation.controller.test.ts
  apps/backend/test/controllers/reminder.controller.test.ts
  apps/backend/test/models/recommendation.model.test.ts
Due: none

Update apps/backend/test/controllers/like.controller.test.ts
  apps/backend/test/controllers/like.controller.test.ts
Due: none

test(#317): increase timeout for failing test
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

Update apps/backend/dockerfile
  apps/backend/dockerfile
Due: none

Update apps/backend/.env.example
  apps/backend/.env.example
Due: none

Update README-Docker.md
  README-Docker.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

added helpers to reduce code dupe
  apps/backend/src/controllers/collection.controller.ts
  apps/backend/src/controllers/reminder.controller.ts
Due: none

test(#317): increase timeout for another failing test
  apps/backend/test/controllers/collection.controller.test.ts
Due: none

fix(controller): resolve missing 404 response causing test timeout
  apps/backend/src/controllers/collection.controller.ts
Due: none

test(#317): timeout in the frontend again
  apps/mobile/test/screens/SignUp.test.tsx
Due: eslint --fix

fix(): update lockfile and keep esbuild-windows-64 for cross-platform support
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(#307,#308,#310): Create generic circular icon button for save, like and profile
  apps/mobile/components/UI/iconButton.tsx
  apps/mobile/components/UI/likeButton.tsx
  apps/mobile/components/UI/saveButton.tsx
  apps/mobile/components/UI/searchBar.tsx
  apps/mobile/components/carousel.tsx
  apps/mobile/screens/homeScreen.tsx
Due: eslint --fix

test(#312): update tests to fix pipeline failures and add unit test for new IconButton component
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/test/components/UI/iconButton.test.tsx
  apps/mobile/test/components/UI/likeButton.test.tsx
  apps/mobile/test/components/UI/saveButton.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
Due: eslint --fix

fix(#312): typecheck fail
  apps/mobile/test/components/UI/iconButton.test.tsx
Due: eslint --fix

feature-313-splash screen on app launch (#315)
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: remove SonarCloud configuration file
  .sonarcloud.properties
Due: none

chore: update mobile files for admin feature
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/package.json
  apps/mobile/services/mantra.service.ts
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/bottomTabNavigator.test.tsx
  apps/mobile/test/services/mantra.service.test.ts
Due: eslint --fix, prettier --write

Add admin tab based on user admin status
  apps/mobile/components/bottomTabNavigator.tsx
Due: eslint --fix

Add AdminScreen for managing mantras
  apps/mobile/screens/adminScreen.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
