Repository MeMantraa/MeMantra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Implement code changes to enhance functionality and improve performance
  apps/api/src/dockerfile
  docker-compose.yaml
  pnpm-lock.yaml
Due: prettier --write

Implement liked mantras context, update HomeScreen and navigation
  apps/mobile/app/index.tsx
  apps/mobile/components/bottomTabNavigator.tsx
  apps/mobile/context/LikedMantrasContext.tsx
  apps/mobile/package.json
  apps/mobile/screens/homeScreen.tsx
  apps/mobile/screens/likedScreen.tsx
Due: eslint --fix, prettier --write

fix: add safe AsyncStorage wrapper for CI/Jest environment
  apps/mobile/utils/asyncStorage.ts
  apps/mobile/utils/storage.ts
Due: eslint --fix

Add comprehensive unit tests for HomeScreen, BottomTabNavigator, and service modules; enhance Jest configuration for coverage reporting
  apps/mobile/jest.config.js
  apps/mobile/test/components/bottomTabNavigator.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/auth.service.test.ts
  apps/mobile/test/services/google-auth.service.test.ts
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

Test 283 increase low coverage unit tests (#301)
  apps/mobile/jest.config.js
  apps/mobile/test/components/bottomTabNavigator.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/services/api.config.test.ts
  apps/mobile/test/services/auth.service.test.ts
  apps/mobile/test/services/google-auth.service.test.ts
  apps/mobile/test/services/mantra.service.test.ts
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

test(#283): frontend test coverage reaches 80% across all categories
  apps/mobile/jest.config.js
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/HomeScreen.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/context/ThemeContext.test.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/screens/login.test.tsx
  apps/mobile/test/styles/theme.test.ts
Due: eslint --fix

test(#283): more frontend test
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/utils/storage.test.ts
Due: eslint --fix

test(#283): increase coverage in backend testing
  apps/backend/package.json
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/integration/index.test.ts
  apps/backend/test/middleware/auth.middleware.test.ts
  apps/backend/test/middleware/logger.middleware.test.ts
  apps/backend/test/src/app.test.ts
  apps/backend/test/src/index.test.ts
  apps/mobile/test/integration/index.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(#283): backend test coverage reaches 80% across all categories
  apps/backend/test/utils/jwt.utils.test.ts
Due: none

test(): integration tests was in wrong folder
  apps/mobile/test/integration/index.test.ts
Due: eslint --fix

fix(#301): pipeline failed
  apps/mobile/test/components/carousel.test.tsx
Due: eslint --fix

fix(#302): pipeline failed
  apps/mobile/test/components/carousel.test.tsx
Due: eslint --fix

test(#283): carousel test failing in the pipeline
  apps/mobile/test/components/carousel.test.tsx
Due: eslint --fix

fix(): fix test that fails in the pipeline
  apps/backend/test/src/index.test.ts
Due: none

test(): removed test that will cause issue after
  apps/backend/test/src/index.test.ts
  apps/mobile/test/components/carousel.test.tsx
Due: eslint --fix

fix(): small fix to index.test.ts
  apps/backend/test/src/index.test.ts
Due: none

Devops(26) Reduced the amount of space docker will take on host machine
  README-Docker.md
  apps/backend/dockerfile
  docker-compose.yaml
Due: prettier --write

remove duplicate env.example file
  .env.example
Due: none

Devops(26) Removed useless files and folders
  apps/api/src/dockerfile
  apps/api/src/index.ts
  backend/package.json
Due: prettier --write

Devops(26) Tweaking a few files
  README-Docker.md
  apps/backend/dockerfile
  docker-compose.yaml
Due: prettier --write

Devops(26) modified env vars
  README-Docker.md
  apps/backend/.env.example
  docker-compose.yaml
Due: prettier --write

Devops(26) tweak docker setup to stop stalling
  README-Docker.md
  apps/backend/.env.example
  docker-compose.yaml
Due: prettier --write

Tweak pgAdmin and backend containers
  docker-compose.yaml
Due: prettier --write

test(#283): frontend and backend test coverage reaches 80% across all categories
  apps/backend/package.json
  apps/backend/test/controllers/auth.controller.test.ts
  apps/backend/test/integration/index.test.ts
  apps/backend/test/middleware/auth.middleware.test.ts
  apps/backend/test/middleware/logger.middleware.test.ts
  apps/backend/test/src/app.test.ts
  apps/backend/test/src/index.test.ts
  apps/backend/test/utils/jwt.utils.test.ts
  apps/mobile/jest.config.js
  apps/mobile/test/App.test.tsx
  apps/mobile/test/components/HomeScreen.test.tsx
  apps/mobile/test/components/carousel.test.tsx
  apps/mobile/test/context/ThemeContext.test.tsx
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/homeScreen.test.tsx
  apps/mobile/test/screens/login.test.tsx
  apps/mobile/test/styles/theme.test.ts
  apps/mobile/test/utils/storage.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Setup Hosted Shared DB + Seed to Populate
  apps/backend/.env.example
  apps/backend/database/init.sql
  apps/backend/src/config/db.config.ts
  apps/backend/src/db/index.ts
  apps/backend/src/scripts/seed.ts
Due: none

Revise database setup instructions for Hosted PostgreSQL DB (Neon)
  apps/backend/database/README.md
Due: prettier --write

Update collection.model.ts
  apps/backend/src/models/collection.model.ts
Due: none

Update like.model.ts
  apps/backend/src/models/like.model.ts
Due: none

testing-304-fix db config test
  apps/backend/test/config/db.config.test.ts
Due: none

testing-304- Fixing login test
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

testing-304- Fix timeout test error
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

testing-304- Fix timeout test error
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

testing-304 fix
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

test
  apps/mobile/test/screens/SignUp.test.tsx
  apps/mobile/test/screens/login.test.tsx
Due: eslint --fix

test
  apps/mobile/test/screens/SignUp.test.tsx
Due: eslint --fix

adding missing tests
  apps/backend/src/scripts/seed.ts
  apps/backend/test/models/category.model.test.ts
  apps/backend/test/models/collection.model.test.ts
  apps/backend/test/models/like.model.test.ts
  apps/backend/test/models/mantra.model.test.ts
  apps/backend/test/scripts/seed.test.ts
Due: none

putting password in .env
  apps/backend/src/scripts/seed.ts
Due: none

revert
  apps/backend/src/scripts/seed.ts
Due: none

env
  apps/backend/src/scripts/seed.ts
  apps/backend/test/scripts/seed.test.ts
Due: none

testing-304 added missing tests
  apps/backend/src/scripts/seed.ts
  apps/backend/test/models/category.models.test.ts
  apps/backend/test/models/collection.model.test.ts
  apps/backend/test/models/like.model.test.ts
  apps/backend/test/models/mantra.model.test.ts
  apps/backend/test/scripts/seed.test.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
